Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

Try to fix tests
  libs/core/tests/unit_tests/utils/test_utils.py
Due: core

fix: add `python-readability` to test requirements
  libs/community/extended_testing_deps.txt
Due: none

fix: snapshot tests
  libs/community/langchain_community/document_transformers/__init__.py
  libs/community/tests/unit_tests/document_transformers/test_imports.py
Due: community

fix: pytest requires mark
  libs/community/tests/unit_tests/document_transformers/test_mozilla_readability_transformer.py
Due: community

prettify graph
  docs/docs/tutorials/graph.ipynb
Due: none

format
  docs/docs/tutorials/graph.ipynb
Due: none

add imag
  docs/static/img/langgraph_text2cypher.webp
Due: none

Invalid `tool_choice` being passed to `ChatLiteLLM` (#28198)
  libs/community/langchain_community/chat_models/litellm.py
Due: community

remove pages
  docs/docs/how_to/index.mdx
Due: none

lock
  libs/partners/ollama/poetry.lock
Due: none

fix default
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: none

docs: Update IBM documentation (#28503)
  docs/docs/integrations/chat/ibm_watsonx.ipynb
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Due: none

[chore]: Using and correcting the attribute
  libs/community/langchain_community/utilities/arxiv.py
Due: community

[fix]: fitz Attribute and using
  libs/community/langchain_community/utilities/arxiv.py
Due: community

lock
  libs/community/poetry.lock
  libs/langchain/poetry.lock
Due: none

fmt
  libs/core/langchain_core/tracers/context.py
Due: core

fmt
  libs/community/langchain_community/embeddings/model2vec.py
  libs/community/tests/unit_tests/embeddings/test_model2vec.py
Due: community

nit
  docs/docs/integrations/text_embedding/model2vec.ipynb
Due: none

fmt
  libs/community/langchain_community/embeddings/model2vec.py
Due: community

community[minor]: Add support for modle2vec embeddings (#28507)
  docs/docs/integrations/text_embedding/model2vec.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/model2vec.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_model2vec.py
Due: community

partners: 🕷️🦜 ScrapeGraph API Integration (#28559)
  docs/docs/integrations/providers/scrapegraph.mdx
  docs/docs/integrations/tools/scrapegraph.ipynb
  libs/packages.yml
Due: none

docs: Resolve incorrect import of AttributeInfo for self-query retriever section (#28446)
  docs/docs/integrations/retrievers/self_query/activeloop_deeplake_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/astradb.ipynb
  docs/docs/integrations/retrievers/self_query/chroma_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/dashvector.ipynb
  docs/docs/integrations/retrievers/self_query/databricks_vector_search.ipynb
  docs/docs/integrations/retrievers/self_query/dingo.ipynb
  docs/docs/integrations/retrievers/self_query/hanavector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/milvus_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/mongodb_atlas.ipynb
  docs/docs/integrations/retrievers/self_query/myscale_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/neo4j_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/opensearch_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/pgvector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/pinecone.ipynb
  docs/docs/integrations/retrievers/self_query/qdrant_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/redis_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/supabase_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/tencentvectordb.ipynb
  docs/docs/integrations/retrievers/self_query/timescalevector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/vectara_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/weaviate_self_query.ipynb
Due: none

docs: Fixed broken link in the warning message to @tool API Reference… (#28437)
  docs/docs/how_to/custom_tools.ipynb
Due: none

docs: Fixed mini typo in recommend and improve the phrasing (#28438)
  docs/docs/how_to/agent_executor.ipynb
Due: none

Fix typo
  docs/docs/how_to/output_parser_custom.ipynb
Due: none

docs: Fix typo in weaviate integration docs (#28425)
  docs/docs/integrations/vectorstores/weaviate.ipynb
Due: none

docs: change upstage solar model descriptions (#28419)
  docs/docs/integrations/providers/upstage.ipynb
Due: none

core[patch]: Fixed trim functions, and added corresponding unit test for the solved issue (#28429)
  libs/core/langchain_core/runnables/graph.py
  libs/core/tests/unit_tests/runnables/test_graph.py
Due: core

community[patch]:Fix for get_openai_callback() return token_cost=0.0 when model is gpt-4o-11-20 (#28408)
  libs/community/langchain_community/callbacks/openai_info.py
Due: community

Fix all inherting typo
  docs/docs/how_to/output_parser_custom.ipynb
Due: none

docs: more integration contrib
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.mdx
Due: none

docs: more integration contrib (#28618)
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.mdx
Due: none

text-splitters: add pydocstyle linting (#28127)
  libs/text-splitters/langchain_text_splitters/__init__.py
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
Due: text-splitters

cli: warning on app add
  libs/cli/langchain_cli/namespaces/app.py
Due: none

cli: warning on app add (#28619)
  libs/cli/langchain_cli/namespaces/app.py
Due: none

[Core]: Small Docstring Clarification for `BaseTool` (#28148)
  libs/core/langchain_core/tools/base.py
Due: core

Updated all handling of openai.error to properly handle newer versions of the openai library.
  libs/community/langchain_community/chat_models/jinachat.py
  libs/community/langchain_community/chat_models/openai.py
  libs/community/langchain_community/embeddings/localai.py
  libs/community/langchain_community/embeddings/openai.py
  libs/community/langchain_community/llms/openai.py
Due: community

Updated the style of imports to pass lint rules
  libs/community/langchain_community/chat_models/jinachat.py
  libs/community/langchain_community/chat_models/openai.py
  libs/community/langchain_community/embeddings/localai.py
  libs/community/langchain_community/embeddings/openai.py
  libs/community/langchain_community/llms/openai.py
Due: community

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
