Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

fix: more linter issues
  docs/docs/integrations/tools/finance_polygon.ipynb
  libs/community/langchain_community/utilities/finance_polygon.py
Due: community

fix: test imporst
  libs/community/tests/unit_tests/utilities/test_imports.py
Due: community

fix: test errors
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/utilities/finance_polygon.py
  libs/community/tests/unit_tests/document_loaders/test_mongodb.py
  libs/community/tests/unit_tests/tools/audio/test_tools.py
  libs/community/tests/unit_tests/tools/test_imports.py
  libs/community/tests/unit_tests/utilities/test_finance_polygon.py
  libs/community/tests/unit_tests/vectorstores/test_azure_search.py
Due: community

update citations guide
  docs/docs/how_to/qa_citations.ipynb
Due: none

fix: more linter & tests
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/finance_polygon/aggregates_stocks.py
  libs/community/langchain_community/tools/finance_polygon/last_quote.py
Due: community

update qa-per-user guide
  docs/docs/how_to/qa_per_user.ipynb
Due: none

fix link
  docs/docs/how_to/qa_sources.ipynb
Due: none

fix: tests & linter
  libs/community/langchain_community/utilities/finance_polygon.py
  libs/community/tests/unit_tests/utilities/test_finance_polygon.py
Due: community

fix links
  docs/docs/how_to/qa_sources.ipynb
Due: none

fix: linter
  libs/community/langchain_community/tools/finance_polygon/aggregates_stocks.py
  libs/community/langchain_community/tools/finance_polygon/all_tickers.py
  libs/community/langchain_community/tools/finance_polygon/conditions.py
  libs/community/langchain_community/tools/finance_polygon/daily_open_close.py
  libs/community/langchain_community/tools/finance_polygon/dividends.py
  libs/community/langchain_community/tools/finance_polygon/ema.py
  libs/community/langchain_community/tools/finance_polygon/exchanges.py
  libs/community/langchain_community/tools/finance_polygon/gainers_losers.py
  libs/community/langchain_community/tools/finance_polygon/grouped_daily.py
  libs/community/langchain_community/tools/finance_polygon/ipos.py
  libs/community/langchain_community/tools/finance_polygon/last_quote.py
  libs/community/langchain_community/tools/finance_polygon/last_trade.py
  libs/community/langchain_community/tools/finance_polygon/macd.py
  libs/community/langchain_community/tools/finance_polygon/market_holidays.py
  libs/community/langchain_community/tools/finance_polygon/market_status.py
  libs/community/langchain_community/tools/finance_polygon/previous_close.py
  libs/community/langchain_community/tools/finance_polygon/related_companies.py
  libs/community/langchain_community/tools/finance_polygon/rsi.py
  libs/community/langchain_community/tools/finance_polygon/single_ticker.py
  libs/community/langchain_community/tools/finance_polygon/sma.py
  libs/community/langchain_community/tools/finance_polygon/stock_splits.py
  libs/community/langchain_community/tools/finance_polygon/stocks_financials.py
  libs/community/langchain_community/tools/finance_polygon/trades.py
  libs/community/langchain_community/tools/finance_polygon/universal_snapshot.py
Due: community

docs: update azure_openai_whisper_parser.ipynb (#28327)
  docs/docs/integrations/document_loaders/parsers/azure_openai_whisper_parser.ipynb
Due: none

fix: linter again
  libs/community/langchain_community/tools/finance_polygon/ref_ticker_details.py
  libs/community/langchain_community/tools/finance_polygon/ref_ticker_events.py
  libs/community/langchain_community/tools/finance_polygon/ref_ticker_types.py
Due: community

[chore]: Tool Calls should not be null. Added a simple check
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: none

[fix]: is in Main Payload and not nested according to latest version of marqo API
  libs/community/langchain_community/vectorstores/marqo.py
Due: community

fix linting in load_tools
  libs/community/langchain_community/agent_toolkits/load_tools.py
Due: community

core: Add support to accept PDF in ChatPromptTemplate. > > Co-authored-by: czhu24 <clare7.zhu@gmail.com>
  libs/core/extended_testing_deps.txt
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

merge: master
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Due: core

fix: handle URL line breaks with new URLContentLoader
  libs/community/langchain_community/document_loaders/url_content_loader.py
  libs/community/tests/unit_tests/document_loaders/test_docs/url_content/test_url.txt
  libs/community/tests/unit_tests/document_loaders/test_url_content_loader.py
Due: community

add pypdf dependencies
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/test_dependencies.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/partners/prompty/poetry.lock
  libs/partners/prompty/pyproject.toml
Due: community, langchain

fix(deps): Fixing pypdf dependency errors
  libs/community/poetry.lock
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
Due: langchain

fix(deps): Fixing pypdf errors
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
Due: langchain

tests and functionality
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

docstrings
  libs/partners/chroma/langchain_chroma/vectorstores.py
Due: none

revert pyproject.toml
  libs/partners/chroma/pyproject.toml
Due: none

fix linting
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

fix: resolved linting and formatting issues in URLContentLoader and test cases
  libs/community/langchain_community/document_loaders/url_content_loader.py
  libs/community/tests/unit_tests/document_loaders/test_url_content_loader.py
Due: community

Load PDF documents by using Table of Contents based demarcation
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/parsers/__init__.py
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
Due: community

sample notebook
  docs/docs/integrations/document_loaders/example_data/sample_book.pdf
  docs/docs/integrations/document_loaders/pypdfium2_toc.ipynb
Due: none

update integrations notebook
  docs/docs/integrations/document_loaders/pypdfium2_toc.ipynb
  libs/community/langchain_community/document_loaders/pdf.py
Due: community

update integrations notebook
  docs/docs/integrations/document_loaders/pypdfium2_toc.ipynb
Due: none

update integrations notebook
  docs/docs/integrations/document_loaders/pypdfium2_toc.ipynb
  libs/community/tests/unit_tests/document_loaders/parsers/test_public_api.py
Due: community

unit tests
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Due: community

Update Poetry version, to current latest (1.8.4)
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_doc_imports.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/_test_release.yml
  .github/workflows/api_doc_build.yml
  .github/workflows/check_diffs.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Due: none

add hwpx text loader
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/hwpx.py
Due: community

add xml.etree opt-in message
  libs/community/langchain_community/document_loaders/hwpx.py
Due: community

Reordered and grouped import statements according to PEP8 guidelines, Split long lines to adhere to the maximum line length of 88 characters
  libs/community/langchain_community/document_loaders/hwpx.py
Due: community

loggin
  libs/community/langchain_community/document_loaders/hwpx.py
Due: community

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
