Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/

docs: added a link to the taxonomy of labels in the contributing guide for easy access (#28719)
  docs/docs/contributing/index.mdx
Due: root

Update libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/messages/utils.py
Due: core

core[patch], openai[patch]: Handle OpenAI developer msg (#28794)
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: core, openai

community: release 0.3.13
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: community

core[patch]: Release 0.3.27
  libs/core/pyproject.toml
Due: core

core[patch]: Release 0.3.27 (#28799)
  libs/core/pyproject.toml
Due: core

community: release 0.3.13 (#28798)
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: community

openai[patch]: Release 0.2.13
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Due: openai

partners/anthropic: release 0.3.1
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Due: anthropic

openai[patch]: Release 0.2.13 (#28800)
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Due: openai

partners/ollama: release 0.2.2
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
Due: ollama

partners/mistralai: release 0.2.4
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Due: mistralai

partners/groq: release 0.2.2
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
Due: groq

partners/ollama: release 0.2.2 (#28802)
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
Due: ollama

partners/fireworks: release 0.2.6
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
Due: fireworks

partners/xai: release 0.1.1
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
Due: none

partners/mistralai: release 0.2.4 (#28803)
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Due: mistralai

partners/groq: release 0.2.2 (#28804)
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
Due: groq

partners/xai: release 0.1.1 (#28806)
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
Due: none

x
  .pre-commit-config.yaml
Due: none

all: Add pre-commit hook (#26993)
  .pre-commit-config.yaml
Due: none

community: add new parameter default_headers (#28700)
  docs/docs/integrations/chat/oci_data_science.ipynb
  libs/community/langchain_community/chat_models/oci_data_science.py
  libs/community/langchain_community/llms/oci_data_science_model_deployment_endpoint.py
  libs/community/tests/unit_tests/chat_models/test_oci_data_science.py
  libs/community/tests/unit_tests/llms/test_oci_model_deployment_endpoint.py
Due: community, root

x
  libs/partners/anthropic/poetry.lock
Due: anthropic

x
  libs/partners/fireworks/poetry.lock
Due: fireworks

partners/anthropic: release 0.3.1 (#28801)
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Due: anthropic

partners/fireworks: release 0.2.6 (#28805)
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
Due: fireworks

update
  docs/scripts/partner_pkg_table.py
Due: root

docs:Correcting spelling mistakes (#28780)
  docs/docs/integrations/providers/premai.md
Due: root

nit
  docs/scripts/partner_pkg_table.py
Due: root

docs: integration providers index update (#28808)
  docs/scripts/partner_pkg_table.py
Due: root

TablestoreVectorStore check the Dimension of the embedding when writing it to store.
  docs/docs/integrations/vectorstores/tablestore.ipynb
  libs/community/langchain_community/vectorstores/tablestore.py
  libs/community/tests/integration_tests/vectorstores/test_tablestore.py
Due: community, root

[typo] Update pydantic.py
  libs/core/langchain_core/utils/pydantic.py
Due: core

Update base.py
  libs/core/langchain_core/runnables/base.py
Due: core

[typo] Update base.py
  libs/core/langchain_core/runnables/base.py
Due: core

Update base.py typo
  libs/core/langchain_core/runnables/base.py
Due: core

Adding VoyageAI's text_embedding to 'integrations/text_embedding/'
  docs/src/theme/EmbeddingTabs.js
Due: root

core: typo in runnable (#28815)
  libs/core/langchain_core/runnables/base.py
Due: core
