Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

remove code cell
  docs/docs/integrations/providers/upstage.ipynb
Due: none

community[fix]: Update Perplexity to pass parameters into API calls, removing noncompatible parameters
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

format tool call IDs in tool messages
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Due: none

mistral[patch]: ensure tool call IDs in tool messages are correctly formatted (#28422)
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Due: none

Fix typo in weaviate integration docs
  docs/docs/integrations/vectorstores/weaviate.ipynb
Due: none

Update broken notebook link
  docs/docs/integrations/vectorstores/kdbai.ipynb
Due: none

Remove import
  libs/community/langchain_community/vectorstores/kdbai.py
Due: community

Fix imports
  libs/community/langchain_community/vectorstores/kdbai.py
Due: community

Docs - Fix Linting
  docs/docs/integrations/vectorstores/kdbai.ipynb
Due: none

kdbai.py Fix Linting
  libs/community/langchain_community/vectorstores/kdbai.py
Due: community

Fix Lint
  libs/community/langchain_community/vectorstores/kdbai.py
Due: community

improve integration docs
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/standard-tests-chat-model.md
Due: none

fix poetry lock
  libs/community/poetry.lock
  poetry.lock
Due: none

test: added tests for from_youtube_url and OAuth
  libs/community/langchain_community/document_loaders/youtube.py
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

chore: cleanup comments and unused files
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models/azure.py
  libs/partners/mistralai/langchain_mistralai/chat_models/base.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/langchain_mistralai/embeddings/base.py
Due: none

chore: fixed linting errors in youtube.py
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

chore: fixed additional linting errors
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

Fix: fixed import error in make test pydantic
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

Adding docs, unit tests, and code for 'Voice Input for Ollama models' tool
  docs/docs/integrations/tools/ollama_voice_input.ipynb
  libs/community/langchain_community/tools/ollama_voice_input/__init__.py
  libs/community/langchain_community/tools/ollama_voice_input/tool.py
  libs/community/tests/unit_tests/tools/ollama_voice_input/__init__.py
  libs/community/tests/unit_tests/tools/ollama_voice_input/test_tools.py
Due: community

added fix for trim_first_node() and trim_last_node()
  libs/core/langchain_core/runnables/graph.py
Due: core

Chore: fixed linting issues
  libs/community/langchain_community/document_loaders/youtube.py
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

Chore - fixed linting issues for make lint
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

added a unit test for trim functions
  libs/core/tests/unit_tests/runnables/test_graph.py
Due: core

Chore - Fixed more linting issues for make lint
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

fix typo at langchain_community/tools/ollama_voice_input/__init__.py
  libs/community/langchain_community/tools/ollama_voice_input/__init__.py
Due: community

chore: fix lint error
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

chore: fixed more linting errors
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

Chore - fixed linting issues in test file for make lint
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

Chore - Fix linting issues in test file for make lint
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

chore: fixed more linting errors
  libs/community/tests/unit_tests/document_loaders/test_youtube.py
Due: community

Update create_schema_from_function
  libs/core/langchain_core/tools/base.py
Due: core

Fixed formatting issue
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/structured.py
Due: core

Feat - create sql.py for sql language parser
  libs/community/langchain_community/document_loaders/parsers/language/sql.py
Due: community

Test - Create test_sql.py to test sql language parser feature
  libs/community/tests/unit_tests/document_loaders/parsers/language/test_sql.py
Due: community

Feat - added sql language parser to language_parser.py
  libs/community/langchain_community/document_loaders/parsers/language/language_parser.py
Due: community

chore: fix linting errors in sql.py
  libs/community/langchain_community/document_loaders/parsers/language/sql.py
Due: community

chore: fix linting errors in language_parser.py
  libs/community/langchain_community/document_loaders/parsers/language/language_parser.py
Due: community

chore: fix more linting build errors
  libs/community/langchain_community/document_loaders/parsers/language/language_parser.py
Due: community

chore: fix more linting build errors
  libs/community/langchain_community/document_loaders/parsers/language/sql.py
Due: community
