Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/

added new line to the end of file
  libs/community/langchain_community/chat_message_histories/falkordb.py
Due: community

added empty new line
  libs/community/langchain_community/chat_message_histories/falkordb.py
Due: community

added empty new line
  libs/community/tests/integration_tests/chat_message_histories/test_falkordb_chat_message_history.py
Due: community

CrateDB: Register package `langchain-cratedb`
  libs/packages.yml
Due: none

CrateDB: Add minimal "provider" documentation
  docs/docs/integrations/providers/cratedb.mdx
Due: root

fixing an error in audio.py
  libs/community/langchain_community/document_loaders/parsers/audio.py
Due: community

correcting lint error
  libs/community/langchain_community/document_loaders/parsers/audio.py
Due: community

correct lint error
  libs/community/langchain_community/document_loaders/parsers/audio.py
Due: community

Update dataframe.py (#28871)
  libs/community/langchain_community/document_loaders/dataframe.py
Due: community

Fix docs of ChatMLX
  docs/docs/integrations/chat/mlx.ipynb
Due: root

update
  libs/community/langchain_community/embeddings/llamacpp.py
Due: community

Community: LlamaCppEmbeddings `embed_documents` and `embed_query` (#28827)
  libs/community/langchain_community/embeddings/llamacpp.py
  libs/community/tests/unit_tests/embeddings/test_llamacpp.py
Due: community

[Doc] Improvement: Fix docs of `ChatMLX` (#28884)
  docs/docs/integrations/chat/mlx.ipynb
Due: root

community(azuresearch): allow to use any valid credential (#28873)
  libs/community/langchain_community/vectorstores/azuresearch.py
Due: community

core[patch]: remove redundant imports (#28861)
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/utils/pydantic.py
Due: core

docs: CrateDB: Register package `langchain-cratedb`, and add minimal "provider" documentation (#28877)
  docs/docs/integrations/providers/cratedb.mdx
  libs/packages.yml
Due: root

Added GitHub Agent Example
  cookbook/Github_Agent.ipynb
Due: root

community: add Dappier retriever
  docs/docs/integrations/retrievers/dappier.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/dappier.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
Due: community, root

chore: ruff lint and format fixes
  docs/docs/integrations/retrievers/dappier.ipynb
Due: root

chore: update a comment inside dappier retriever notebook
  docs/docs/integrations/retrievers/dappier.ipynb
Due: root

chore: improve dappier retriever notebook documentation
  docs/docs/integrations/retrievers/dappier.ipynb
Due: root

x
  docs/scripts/packages_yml_get_downloads.py
  libs/packages.yml
Due: root

x
  docs/scripts/packages_yml_get_downloads.py
  docs/scripts/partner_pkg_table.py
  libs/packages.yml
Due: root

a kind of dummy copypaste so far. aiming #21467
  libs/community/langchain_community/vectorstores/supabase.py
  libs/community/tests/unit_tests/vectorstores/test_asyncsupabase.py
Due: community

x
  docs/scripts/packages_yml_get_downloads.py
  docs/scripts/partner_pkg_table.py
Due: root

x
  docs/scripts/packages_yml_get_downloads.py
Due: root

convert_pydantic_to_openai_function
  libs/core/langchain_core/utils/function_calling.py
Due: core

convert_python_function_to_openai_function and convert_pydantic_to_openai_tool
  libs/core/langchain_core/utils/function_calling.py
Due: core

docs: remove console log
  docs/src/theme/DocItem/Layout/index.js
Due: root

docs: sorted by downloads [wip] (#28869)
  docs/scripts/packages_yml_get_downloads.py
  docs/scripts/partner_pkg_table.py
  libs/packages.yml
Due: root

docs: remove console log (#28894)
  docs/src/theme/DocItem/Layout/index.js
Due: root

Community : Add cost information for missing OpenAI model
  libs/community/langchain_community/callbacks/openai_info.py
Due: community

Update chroma.ipynb
  docs/docs/integrations/vectorstores/chroma.ipynb
Due: root

Fixing Missing Import from typing_extensions
  docs/docs/how_to/structured_output.ipynb
Due: root

Sorting imported objects
  docs/docs/how_to/structured_output.ipynb
Due: root

core: allow artifact in create_retriever_tool
  libs/core/langchain_core/tools/retriever.py
Due: core

partners/ark: Modify dependency packages and environment variables
  libs/partners/ark/.env.template
  libs/partners/ark/langchain_ark/chat_models.py
  libs/partners/ark/langchain_ark/embeddings.py
  libs/partners/ark/poetry.lock
  libs/partners/ark/pyproject.toml
  libs/partners/ark/tests/unit_tests/test_chat_models.py
Due: none
