Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

x
  docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.ipynb
  docs/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE.ipynb
Due: none

x
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/prompts/base.py
Due: core

x
  docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
  docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.ipynb
Due: none

x
  docs/docusaurus.config.js
Due: none

core: release 0.3.12
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

docs, core: error messaging [wip] (#27397)
  docs/docs/troubleshooting/errors/INVALID_PROMPT_INPUT.mdx
  docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
  docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.ipynb
  docs/docs/troubleshooting/errors/MODEL_AUTHENTICATION.mdx
  docs/docs/troubleshooting/errors/MODEL_NOT_FOUND.mdx
  docs/docs/troubleshooting/errors/MODEL_RATE_LIMIT.mdx
  docs/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE.ipynb
  docs/docs/troubleshooting/errors/index.mdx
  docs/docusaurus.config.js
  libs/core/langchain_core/exceptions.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/prompts/base.py
Due: core

fix typos
  docs/docs/integrations/chat/friendli.ipynb
  docs/docs/integrations/llms/friendli.ipynb
Due: none

docs: Alternative implementation using `TypedDict` in the `structured_output.ipynb`
  docs/docs/how_to/structured_output.ipynb
Due: none

Update structured_output.ipynb
  docs/docs/how_to/structured_output.ipynb
Due: none

fix: Swap the declaration order of build_extra and validate_environment to be compatible with Pydantic V2.
  libs/community/langchain_community/chat_models/sparkllm.py
Due: community

fmt
  libs/community/langchain_community/chat_models/sparkllm.py
Due: community

Update chatbot.ipynb
  docs/docs/tutorials/chatbot.ipynb
Due: none

Added WatsonxRerank
  docs/docs/integrations/providers/ibm.mdx
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
Due: none

make format
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
Due: none

infra: add ibm api build
  .github/workflows/api_doc_build.yml
Due: none

core: release 0.3.12 (#27410)
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

x
  .github/workflows/api_doc_build.yml
Due: none

fix: Add condition to run jobs only if the repository owner is 'langchain-ai'
  .github/workflows/api_doc_build.yml
  .github/workflows/run_notebooks.yml
Due: none

Update
  docs/docs/concepts/chat_history.mdx
  docs/docs/concepts/tool_calling.mdx
Due: none

Update
  docs/docs/concepts/chat_models.mdx
Due: none

infra: schedule triggers monorepo only by default
  .github/workflows/api_doc_build.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/people.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Due: none

Making review changes.
  templates/rag-google-alloydb-pg/README.md
  templates/rag-google-alloydb-pg/rag_google_alloydb_pg/chain.py
  templates/rag-google-cloud-sql-pg/README.md
  templates/rag-google-cloud-sql-pg/rag_google_cloud_sql_pg/chain.py
Due: none

infra: schedule triggers monorepo only by default (#27428)
  .github/workflows/api_doc_build.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/people.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Due: none

infra: add ibm api build (#27425)
  .github/workflows/api_doc_build.yml
Due: none

modernized CassandraGraphVectorStore
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/graph_vectorstores/mmr_helper.py
  libs/community/langchain_community/vectorstores/cassandra.py
Due: community

fix tests
  libs/community/langchain_community/graph_vectorstores/cassandra.py
Due: community

simplified node insertion
  libs/community/langchain_community/graph_vectorstores/cassandra.py
Due: community

lint
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/vectorstores/cassandra.py
Due: community

added graph tests
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
Due: community

added more tests from AstraDBVectorStore
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Due: community

more tests
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_upgrade_to_cassandra.py
  libs/community/tests/unit_tests/graph_vectorstores/test_mmr_helper.py
Due: community

progress on tests
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_upgrade_to_cassandra.py
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Due: community

progress adding tests from AstraDB
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Due: community

docs: fix error reference header
  docs/docs/troubleshooting/errors/index.mdx
Due: none

docs: fix error reference header (#27431)
  docs/docs/troubleshooting/errors/index.mdx
Due: none
