Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/

feat(discord): integrate Discord tools for sending and reading messages, update configuration and dependencies
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

Switch Ollama default to json_schema
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

Fixing full text and hybrid search
  docs/docs/integrations/vectorstores/azure_cosmos_db_no_sql.ipynb
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
  libs/community/tests/integration_tests/cache/test_azure_cosmosdbnosql_cache.py
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db_no_sql.py
Due: community, root

linting
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Due: community

added # type: ignore[override, override] on Discord Tools.
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

community:Fix for Pydantic model validator of GoogleApiYoutubeLoader
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

Fixed nimble retriever docs - added better auth example and changed the provider example to provide more information of the current components nimble exposes
  docs/docs/integrations/providers/nimble.ipynb
  docs/docs/integrations/retrievers/nimble.ipynb
Due: root

Changed the title in the provider
  docs/docs/integrations/providers/nimble.ipynb
Due: root

changed the auth section in the provider
  docs/docs/integrations/providers/nimble.ipynb
Due: root

Pinecone Hybrid Search: Add configurable text key for indexing and retrieval
  libs/community/langchain_community/retrievers/pinecone_hybrid_search.py
Due: community

Pinecone Hybrid Search: Update default text key from 'content' to 'context'
  libs/community/langchain_community/retrievers/pinecone_hybrid_search.py
Due: community

Remove redundant line
  docs/docs/how_to/functions.ipynb
Due: root

feat(reddit_search): add 'include_comment_forest' parameter to fetch and format the entire comment forest
  libs/community/langchain_community/tools/reddit_search/tool.py
  libs/community/langchain_community/utilities/reddit_search.py
Due: community

community: fix for azure cosmosdb no sql
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Due: community

Replaced .dict() with .model_dump() method
  docs/docs/tutorials/classification.ipynb
Due: root

[fix]: TypeDict Support
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

[docs]
  docs/docs/integrations/tools/jina_search.ipynb
Due: root

[fix]
  libs/community/langchain_community/tools/jina_search/tool.py
Due: community

[tests]
  libs/community/tests/unit_tests/tools/jina_search/__init__.py
  libs/community/tests/unit_tests/tools/jina_search/test_jina_search.py
Due: community

[chore]
  docs/docs/integrations/tools/jina_search.ipynb
Due: root

[tests]
  libs/community/tests/unit_tests/tools/jina_search/test_jina_search.py
Due: community

DOC: Add Comments and Supplementary Example Code to Vearch Vector Database Examples
  docs/docs/integrations/vectorstores/vearch.ipynb
Due: root

fixed the import in the provider page
  docs/docs/integrations/providers/nimble.ipynb
Due: root

Change wikidata rest api version from v0 to v1
  libs/community/langchain_community/utilities/wikidata.py
Due: community

some minor typos
  docs/docs/integrations/retrievers/nimble.ipynb
Due: root

removed google sge
  docs/docs/integrations/retrievers/nimble.ipynb
Due: root

Refactor PDFPlumber
  docs/docs/integrations/document_loaders/pdfplumber.ipynb
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
Due: community, root

docs: Add Comments and Supplementary Example Code to Vearch Vector Dat… (#29706)
  docs/docs/integrations/vectorstores/vearch.ipynb
Due: root

Classification Tutorial: Replaced .dict() with .model_dump() method (#29701)
  docs/docs/tutorials/classification.ipynb
Due: root

docs: Remove redundant line (#29698)
  docs/docs/how_to/functions.ipynb
Due: root

community: Add configurable text key for indexing and the retriever in Pinecone Hybrid Search (#29697)
  libs/community/langchain_community/retrievers/pinecone_hybrid_search.py
Due: community

community:Fix for Pydantic model validator of GoogleApiYoutubeLoader (#29694)
  libs/community/langchain_community/document_loaders/youtube.py
Due: community

fixed installation message
  docs/docs/integrations/retrievers/nimble.ipynb
Due: root

fixed the setup instructions
  docs/docs/integrations/retrievers/nimble.ipynb
Due: root

x
  libs/partners/ollama/langchain_ollama/chat_models.py
Due: ollama

Update tutorial to visualize the erroneous response.
  docs/docs/tutorials/extraction.ipynb
Due: root

constrain premai dep
  libs/community/extended_testing_deps.txt
Due: community
