Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

Lint and remove imports from langchain
  libs/community/langchain_community/graphs/memgraph_graph.py
  libs/langchain/langchain/chains/__init__.py
  libs/langchain/langchain/chains/graph_qa/prompts.py
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: community, langchain

Remove from langchain
  libs/langchain/langchain/chains/graph_qa/memgraph.py
Due: langchain

Revert to backwards compatibility
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: langchain

Remove formatting
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: langchain

dummy commit
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: langchain

format
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: langchain

add 0.1.0 opensearch Embedding for langchain community
  libs/community/tests/integration_tests/embeddings/test_opensearch.py
Due: community

add 0.1.0 opensearch Embedding for langchain community
  libs/community/langchain_community/embeddings/opensearch.py
Due: community

remove MemgraphQAChain from langchain tests
  libs/langchain/tests/unit_tests/chains/test_imports.py
Due: langchain

Remove print + format
  libs/community/langchain_community/graphs/memgraph_graph.py
Due: community

add BM25Retriever preservation of document id
  libs/community/langchain_community/retrievers/bm25.py
Due: community

[fix] error on invoke HuggingFaceEndpoint Bad request
  libs/community/langchain_community/llms/huggingface_endpoint.py
  libs/community/tests/integration_tests/llms/test_huggingface_endpoint.py
Due: community

👥 Update LangChain people data
  docs/data/people.yml
Due: none

DOC:Changed /docs/integrations/tools/jira/
  docs/docs/integrations/tools/jira.ipynb
Due: none

- Fix linting error
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

fix: empty metadata in lancedb
  libs/community/langchain_community/vectorstores/lancedb.py
  libs/community/tests/integration_tests/vectorstores/test_lancedb.py
Due: community

Fix typo in docstring.
  libs/community/langchain_community/chat_models/oci_data_science.py
Due: community

Require langchain-openai for chat model tests.
  libs/community/tests/unit_tests/chat_models/test_oci_data_science.py
Due: community

Fix lint and formatting in opnesearch and its test
  libs/community/langchain_community/embeddings/opensearch.py
  libs/community/tests/integration_tests/embeddings/test_opensearch.py
Due: community

adding OpenSearch.ipynb to /docs/docs/text_embedding
  docs/docs/integrations/text_embedding/opensearch.ipynb
Due: none

adding in base azure package.
  libs/partners/azure/LICENSE
  libs/partners/azure/Makefile
  libs/partners/azure/README.md
  libs/partners/azure/langchain_azure/agent_toolkits/azure_ai_services.py
  libs/partners/azure/langchain_azure/agent_toolkits/azure_cognitive_services.py
  libs/partners/azure/langchain_azure/chat_models/azure.py
  libs/partners/azure/langchain_azure/chat_models/azure_openai.py
  libs/partners/azure/langchain_azure/chat_models/azureml_endpoint.py
  libs/partners/azure/langchain_azure/document_loaders/azure_ai_data.py
  libs/partners/azure/langchain_azure/document_loaders/azure_blob_storage_container.py
  libs/partners/azure/langchain_azure/document_loaders/azure_blob_storage_file.py
  libs/partners/azure/langchain_azure/document_loaders/doc_intelligence.py
  libs/partners/azure/langchain_azure/document_loaders/parsers/doc_intelligence.py
  libs/partners/azure/langchain_azure/embeddings/azure.py
  libs/partners/azure/langchain_azure/embeddings/azure_openai.py
  libs/partners/azure/langchain_azure/llms/__init__.py
  libs/partners/azure/langchain_azure/llms/azure.py
  libs/partners/azure/langchain_azure/llms/azureml_endpoint.py
  libs/partners/azure/langchain_azure/retrievers/azrure_ai_search.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/__init__.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/document_intelligence.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/image_analysis.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/speech2text.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/speech_to_text.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/text_analytics_for_health.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/text_to_speech.py
  libs/partners/azure/langchain_azure/tools/azure_ai_services/utils.py
  libs/partners/azure/langchain_azure/tools/azure_cognitive_services/__init__.py
  libs/partners/azure/langchain_azure/tools/azure_cognitive_services/form_recognizer.py
  libs/partners/azure/langchain_azure/tools/azure_cognitive_services/image_analysis.py
  libs/partners/azure/langchain_azure/tools/azure_cognitive_services/text2speech.py
  libs/partners/azure/langchain_azure/tools/azure_cognitive_services/text_analytics_health.py
  libs/partners/azure/langchain_azure/vectorstores/azure_cosmos_db.py
  libs/partners/azure/langchain_azure/vectorstores/azure_cosmos_db_no_sql.py
  libs/partners/azure/langchain_azure/vectorstores/azuresearch.py
  libs/partners/azure/pyproject.toml
Due: none

community: deprecate community ollama integrations (#26733)
  libs/community/langchain_community/chat_models/ollama.py
  libs/community/langchain_community/embeddings/ollama.py
  libs/community/langchain_community/llms/ollama.py
Due: community

docs: build new api docs (#26951)
  docs/Makefile
  docs/package.json
  docs/vercel_build.sh
Due: none

core: fix UP006 noqas
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/prompts/base.py
Due: core

core[patch]: fix init of RunnableAssign (#26903)
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Due: core

Fixed typo sql_rag.storage to sql_community.storage
  libs/community/langchain_community/storage/sql.py
Due: community

fix: added adapters and warnings for breaking changes
  libs/community/langchain_community/document_loaders/firecrawl.py
Due: community

huggingface[patch]: make HuggingFaceEndpoint serializable
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Due: none

fmt
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Due: none

huggingface[patch]: Release 0.1.1
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Due: none

Fixed typo in llibs/community/langchain_community/storage/sql.py
  libs/community/langchain_community/storage/sql.py
Due: community

core: add parser for numeric comma separeted output
  libs/core/langchain_core/output_parsers/__init__.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/tests/unit_tests/output_parsers/test_imports.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
  libs/langchain/langchain/output_parsers/__init__.py
  libs/langchain/langchain/output_parsers/list.py
  libs/langchain/tests/unit_tests/output_parsers/test_imports.py
Due: core, langchain

huggingface[patch]: make HuggingFaceEndpoint serializable (#27027)
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Due: none

core: add parser for numeric comma separeted output
  libs/cli/langchain_cli/namespaces/migrate/.grit/patterns/langchain_to_core.json
  libs/core/langchain_core/load/mapping.py
Due: core

huggingface[patch]: xfail test
  libs/partners/huggingface/tests/integration_tests/test_standard.py
Due: none

fmt
  libs/partners/huggingface/tests/integration_tests/test_standard.py
Due: none

huggingface[patch]: xfail test (#27031)
  libs/partners/huggingface/tests/integration_tests/test_standard.py
Due: none

Revert "huggingface[patch]: make HuggingFaceEndpoint serializable (#27027)"
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Due: none

Revert "huggingface[patch]: make HuggingFaceEndpoint serializable (#2… (#27032)
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Due: none
