Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

docs: Update `Runnable` documentation (#27606)
  docs/docs/how_to/output_parser_structured.ipynb
Due: none

formatting
  docs/docs/integrations/tools/firecrawl.ipynb
Due: none

docs: Update structured_outputs.mdx (#27613)
  docs/docs/concepts/structured_outputs.mdx
Due: none

core/tests: modified test_get_input_schema_input_dict test case to make sure RunnableWithMessageHistory makes use of the input keys on the underlying runnable schema
  libs/core/tests/unit_tests/runnables/test_history.py
Due: core

core/tests: modified test_get_input_schema_input_dict test case to use RunnableParallel instead of ChatPromptTemplate to simulate underlying runnable with input dict
  libs/core/tests/unit_tests/runnables/test_history.py
Due: core

core: modified RunnableWithMessageHistory get input schema to make use of the underlying runnable input schema fields
  libs/core/langchain_core/runnables/history.py
Due: core

fmt
  libs/core/langchain_core/output_parsers/list.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
Due: core

core[patch]: fix repr and str for Serializable (#26786)
  libs/core/langchain_core/load/serializable.py
  libs/core/tests/unit_tests/load/test_serializable.py
Due: core

Confluence Loader: Fix CQL loading
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

use logger instead of print
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

Added some text for issue 26616.
  docs/docs/integrations/tools/pandas.ipynb
Due: none

Add document to vector search results
  libs/partners/couchbase/langchain_couchbase/vectorstores.py
  libs/partners/couchbase/pyproject.toml
  libs/partners/couchbase/tests/integration_tests/test_vector_store.py
Due: none

updating init, tool, and unit tests
  libs/community/langchain_community/tools/firecrawl/__init__.py
  libs/community/langchain_community/tools/firecrawl/tool.py
  libs/community/tests/unit_tests/tools/firecrawl/test_tool.py
Due: community

openai[patch]: accept json schema response format directly
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

Update libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

add test for chat prompt template loading
  libs/core/tests/unit_tests/examples/simple_chat_prompt.json
  libs/core/tests/unit_tests/examples/simple_chat_prompt.yaml
  libs/core/tests/unit_tests/prompts/test_loading.py
Due: core

hotfix
  libs/core/tests/unit_tests/prompts/test_loading.py
Due: core

fmt
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

fmt
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

openai[patch]: accept json schema response format directly (#27623)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

update imports
  libs/community/tests/unit_tests/llms/test_cleanlab.py
Due: community

lint
  libs/community/tests/integration_tests/llms/test_cleanlab.py
Due: community

update to pydantic v2
  libs/community/langchain_community/llms/cleanlab.py
Due: community

pytest 8
  libs/community/langchain_community/vectorstores/vdms.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: community

text-splitters: drop profiling
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

fmt
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
Due: core

fix
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

text-splitters: mypy fix
  libs/text-splitters/pyproject.toml
Due: none

core: rm pytest-profiling
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

community debug
  libs/community/langchain_community/tools/asknews/tool.py
Due: community

partners/HuggingFacePipeline[stream]: Change to use `pipeline` instead of `pipeline.model.generate` in stream() (#26531)
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: none

community: Add Naver chat model & embeddings (#25162)
  docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/providers/naver.mdx
  docs/docs/integrations/text_embedding/naver.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/naver.py
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/clova.py
  libs/community/langchain_community/embeddings/naver.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/chat_models/test_naver.py
  libs/community/tests/integration_tests/embeddings/test_naver.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_naver.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_naver.py
  libs/community/tests/unit_tests/test_dependencies.py
Due: community

docs: add aws support to how-to-guides (#27450)
  docs/src/theme/ChatModelTabs.js
Due: none

lint
  libs/community/langchain_community/chat_models/reka.py
Due: community

remove extra whitespace
  libs/community/extended_testing_deps.txt
Due: none

Update libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
Due: none

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
