Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

lint
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Due: none

Fix typo in Tavily search docs
  docs/docs/integrations/tools/tavily_search.ipynb
Due: none

add to release .yml
  .github/workflows/_release.yml
Due: none

update docstring
  libs/partners/xai/langchain_xai/chat_models.py
Due: none

Feat: Update Session Id
  libs/community/langchain_community/chat_message_histories/postgres.py
Due: community

Improvement[Community]Improve Embeddings API
  libs/community/langchain_community/embeddings/baichuan.py
  libs/community/langchain_community/embeddings/dashscope.py
  libs/community/langchain_community/embeddings/fake.py
Due: community

lint fixed
  libs/community/langchain_community/chat_message_histories/postgres.py
Due: community

fix use external embedding for tencent vectordb
  libs/community/langchain_community/vectorstores/tencentvectordb.py
Due: community

docs: Updated incorrected type used for the `multiply_by_max` function
  docs/docs/how_to/custom_tools.ipynb
Due: none

core[patch]: Release 0.3.16
  libs/core/pyproject.toml
Due: none

add docs
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/xai/pyproject.toml
Due: none

update core
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

core[patch]: Release 0.3.16 (#28045)
  libs/core/pyproject.toml
Due: none

typos
  docs/docs/integrations/chat/xai.ipynb
Due: none

link
  docs/docs/integrations/chat/xai.ipynb
Due: none

community[patch]: Release 0.3.6
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

openai[patch]: Release 0.2.7
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Due: none

community[patch]: Release 0.3.6 (#28046)
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

openai[patch]: Release 0.2.7 (#28047)
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Due: none

update community
  libs/community/langchain_community/chat_models/anyscale.py
  libs/community/langchain_community/chat_models/everlyai.py
  libs/community/langchain_community/chat_models/openai.py
Due: community

update anthropic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: none

update openai
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

code review
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/xai/README.md
Due: none

update signature in core
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

openai
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

community
  libs/community/langchain_community/chat_models/anyscale.py
  libs/community/langchain_community/chat_models/everlyai.py
  libs/community/langchain_community/chat_models/openai.py
Due: community

openai[patch]: fix azure oai stream check
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

featured
  docs/src/theme/FeatureTables.js
Due: none

openai[patch]: fix azure oai stream check (#28048)
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

x
  libs/community/langchain_community/chains/graph_qa/arangodb.py
  libs/community/langchain_community/chains/graph_qa/base.py
  libs/community/langchain_community/chains/graph_qa/cypher.py
  libs/community/langchain_community/chains/graph_qa/falkordb.py
  libs/community/langchain_community/chains/graph_qa/gremlin.py
  libs/community/langchain_community/chains/graph_qa/hugegraph.py
  libs/community/langchain_community/chains/graph_qa/kuzu.py
  libs/community/langchain_community/chains/graph_qa/nebulagraph.py
  libs/community/langchain_community/chains/graph_qa/neptune_cypher.py
  libs/community/langchain_community/chains/graph_qa/neptune_sparql.py
  libs/community/langchain_community/chains/graph_qa/ontotext_graphdb.py
  libs/community/langchain_community/chains/graph_qa/sparql.py
  libs/community/tests/unit_tests/chains/test_graph_qa.py
Due: community

qxq
  libs/community/langchain_community/chains/graph_qa/arangodb.py
  libs/community/langchain_community/chains/graph_qa/base.py
  libs/community/langchain_community/chains/graph_qa/cypher.py
  libs/community/langchain_community/chains/graph_qa/falkordb.py
  libs/community/langchain_community/chains/graph_qa/gremlin.py
  libs/community/langchain_community/chains/graph_qa/hugegraph.py
  libs/community/langchain_community/chains/graph_qa/kuzu.py
  libs/community/langchain_community/chains/graph_qa/nebulagraph.py
  libs/community/langchain_community/chains/graph_qa/neptune_cypher.py
  libs/community/langchain_community/chains/graph_qa/neptune_sparql.py
  libs/community/langchain_community/chains/graph_qa/ontotext_graphdb.py
  libs/community/langchain_community/chains/graph_qa/sparql.py
Due: community

update links
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
Due: none

DOC: Fix typo in documentation for streaming modes, correcting 'witten' to 'written' in 'Emit custom output written using LangGraph’s StreamWriter.'
  docs/docs/concepts/streaming.mdx
Due: none

Update streaming.mdx
  docs/docs/concepts/streaming.mdx
Due: none

DOC: Fix typo in documentation for streaming modes, correcting 'witte… (#28052)
  docs/docs/concepts/streaming.mdx
Due: none

Update streaming.mdx (#28055)
  docs/docs/concepts/streaming.mdx
Due: none

community: patch graphqa chains (CVE-2024-8309) (#28050)
  libs/community/langchain_community/chains/graph_qa/arangodb.py
  libs/community/langchain_community/chains/graph_qa/cypher.py
  libs/community/langchain_community/chains/graph_qa/falkordb.py
  libs/community/langchain_community/chains/graph_qa/gremlin.py
  libs/community/langchain_community/chains/graph_qa/hugegraph.py
  libs/community/langchain_community/chains/graph_qa/kuzu.py
  libs/community/langchain_community/chains/graph_qa/nebulagraph.py
  libs/community/langchain_community/chains/graph_qa/neptune_cypher.py
  libs/community/langchain_community/chains/graph_qa/neptune_sparql.py
  libs/community/langchain_community/chains/graph_qa/ontotext_graphdb.py
  libs/community/langchain_community/chains/graph_qa/sparql.py
  libs/community/tests/unit_tests/chains/test_graph_qa.py
Due: community

remove outdated docs
  docs/docs/integrations/retrievers/weaviate-hybrid.ipynb
Due: none

community: release 0.2.19
  libs/community/pyproject.toml
Due: none

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
