Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

Update downloads in packages.yml
  libs/packages.yml
Due: none

core: allow merging metadata in tracing
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/langchain.py
Due: core

core,openai: rfc structured output tracing
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: core, openai

x
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: core, openai

x
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

x
  libs/core/langchain_core/language_models/chat_models.py
Due: core

add deprecation to sambanova langchain community integrations
  libs/community/langchain_community/chat_models/sambanova.py
  libs/community/langchain_community/embeddings/sambanova.py
Due: community

Exclude TC001,TC002,TC003
  libs/core/langchain_core/agents.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/prompt_values.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tools/structured.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
Due: core

fmt
  libs/community/langchain_community/chat_models/sambanova.py
  libs/community/langchain_community/embeddings/sambanova.py
Due: community

[chore]
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

[format]
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

fix(core): make abatch_as_completed respect max_concurrency
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Due: core

Lint fixes
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Due: core

community: Add Goodfire chat model
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/goodfire.py
  libs/community/tests/unit_tests/chat_models/test_goodfire.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
Due: community

add agentql documentloader
  docs/docs/integrations/document_loaders/agentql.ipynb
  libs/community/langchain_community/document_loaders/agentql.py
Due: community, root

update init file
  libs/community/langchain_community/document_loaders/__init__.py
Due: community

Make sure to import optional dependency inside function
  libs/community/langchain_community/chat_models/goodfire.py
  libs/community/tests/unit_tests/chat_models/test_goodfire.py
Due: community

Rename to ChatGoodfire
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/goodfire.py
  libs/community/tests/unit_tests/chat_models/test_goodfire.py
Due: community

Update test with ChatGoodfire
  libs/community/tests/unit_tests/chat_models/test_imports.py
Due: community

Restore order of unrelated stuff
  libs/community/tests/unit_tests/chat_models/test_imports.py
Due: community

Simplify constructor and add docs
  docs/docs/integrations/chat/goodfire.ipynb
  libs/community/langchain_community/chat_models/goodfire.py
  libs/community/tests/unit_tests/chat_models/test_goodfire.py
Due: community, root

community(doc_loaders): allow any credential type in Azure DocumentIntel
  libs/community/langchain_community/document_loaders/doc_intelligence.py
  libs/community/langchain_community/document_loaders/parsers/doc_intelligence.py
Due: community

[community] Add Jenkins tool support.
  docs/docs/integrations/tools/jenkins.ipynb
  libs/community/langchain_community/tools/jenkins/__init__.py
  libs/community/langchain_community/tools/jenkins/tool.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/jenkins.py
Due: community, root

added newlines
  libs/community/langchain_community/tools/jenkins/tool.py
  libs/community/langchain_community/utilities/jenkins.py
Due: community

correct the format
  docs/docs/integrations/tools/jenkins.ipynb
  libs/community/langchain_community/tools/jenkins/__init__.py
  libs/community/langchain_community/tools/jenkins/tool.py
  libs/community/langchain_community/utilities/jenkins.py
Due: community, root

added Jenkins class in test_imports
  libs/community/langchain_community/utilities/__init__.py
  libs/community/tests/unit_tests/utilities/test_imports.py
Due: community

community: Fixed the procedure of initializing pad_token_id
  libs/community/langchain_community/llms/huggingface_pipeline.py
Due: community

Обновление README (#242)
  README.md
  cookbook/README.md
  cookbook/extraction.ipynb
  cookbook/gigachat_functions_agent.ipynb
  cookbook/gigachat_phone_agent.ipynb
  cookbook/gigachat_qa.ipynb
  cookbook/js/README.md
  cookbook/js/deno.json
  cookbook/js/extraction.ipynb
  cookbook/js/langgraph_quickstart.ipynb
  cookbook/js/rag.ipynb
  cookbook/js/tools.ipynb
  cookbook/playlists.ipynb
  cookbook/sample_data/мастер_и_маргарита.txt
  docs/docs_ru/cookbook/agents/gigachat_phone_agent.ipynb
  docs/docs_ru/cookbook/extraction.ipynb
  docs/docs_ru/cookbook/gigachat_functions_agent.ipynb
  docs/docs_ru/cookbook/gigachat_qa.ipynb
  docs/docs_ru/cookbook/playlists.ipynb
  js/README.md
  static/img/logo-with-backgroung.png
  static/img/logo.png
Due: root

fix package name
  libs/packages.yml
Due: none

Исправление ссылок (#243)
  docs/docs_ru/cookbook/agents/gigachat_phone_agent.ipynb
  docs/docs_ru/cookbook/extraction.ipynb
  docs/docs_ru/cookbook/gigachat_functions_agent.ipynb
  docs/docs_ru/cookbook/gigachat_qa.ipynb
  docs/docs_ru/cookbook/playlists.ipynb
Due: root

Fix ToolsIntegrationTests to correctly handle response_format="content_and_artifact" tools
  libs/standard-tests/langchain_tests/integration_tests/tools.py
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
Due: standard-tests

community: Fixed the procedure of initializing pad_token_id (#29434)
  libs/community/langchain_community/llms/huggingface_pipeline.py
Due: community

fix
  docs/docs/integrations/chat/sambanova.ipynb
Due: root

format
  libs/community/langchain_community/vectorstores/azuresearch.py
Due: community

partners[chroma]: Upgrade Chroma to 0.6.x (#29404)
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Due: chroma

bump core and increment version
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Due: chroma

fixed similarity search with score error #29407 (#29413)
  libs/community/langchain_community/vectorstores/azuresearch.py
Due: community

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
