Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

[chore]: and parent class changed
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

[format]
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

[chore]: Backward Comptability
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

[chore]: and for TokenTextSplitter
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters

[chore]: Overwriting Class Methods and using partial function to avoid nested functions
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

[chore]: Removed the unused import
  libs/text-splitters/langchain_text_splitters/character.py
Due: text-splitters

[format]
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters

[chore]: Corrected the Annotation
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters

community: add httpx-sse in pyproject.toml files
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

[chore]: /Users/mohtashim/langchain/libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters

add oceanbase introduction
  docs/docs/integrations/providers/oceanbase.mdx
  docs/docs/integrations/vectorstores/oceanbase.ipynb
  libs/community/langchain_community/vectorstores/oceanbase.py
  libs/community/tests/integration_tests/vectorstores/test_oceanbase.py
  libs/community/tests/unit_tests/vectorstores/test_imports.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
Due: community

do not change pyproject.toml
  libs/community/pyproject.toml
Due: none

[chore]: Annotation Correct
  libs/text-splitters/langchain_text_splitters/base.py
Due: text-splitters

make format lint
  docs/docs/integrations/vectorstores/oceanbase.ipynb
  libs/community/langchain_community/vectorstores/oceanbase.py
  libs/community/tests/integration_tests/vectorstores/test_oceanbase.py
Due: community

fix: to remove app_id field alias on ClovaXEmbeddings
  libs/community/langchain_community/embeddings/naver.py
Due: community

Improvement[Partner] Improve qdrant vector store
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
Due: none

community: add httpx-sse in test_dependencies.py
  libs/community/tests/unit_tests/test_dependencies.py
Due: community

fix: to change allow_population_by_field_name to populate_by_name ChatClovaX
  libs/community/langchain_community/chat_models/naver.py
Due: community

modernized CassandraGraphVectorStore
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/graph_vectorstores/mmr_helper.py
  libs/community/langchain_community/vectorstores/cassandra.py
Due: community

update oceanbase limitations
  docs/docs/integrations/providers/oceanbase.mdx
Due: none

lint
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/vectorstores/cassandra.py
Due: community

docs: update integartions docs on naver package
  docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/text_embedding/naver.ipynb
Due: none

add nvidia in v3 integrations
  docs/docs/versions/v0_3/index.mdx
Due: none

fix tests
  libs/community/langchain_community/graph_vectorstores/cassandra.py
Due: community

update
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/runnables.mdx
Due: none

Update tests to reflect removal of automatic update of embedder settings
  libs/community/tests/integration_tests/vectorstores/test_meilisearch.py
Due: community

Migrate more content into chat models
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/llms.mdx
Due: none

update
  docs/docs/concepts/index.mdx
Due: none

removed session_id
  libs/community/langchain_community/chat_message_histories/falkordb.py
Due: community

Update chatbot.ipynb (#27243)
  docs/docs/tutorials/chatbot.ipynb
Due: none

Update tool calling conepts
  docs/docs/concepts/tool_calling.mdx
  docs/static/img/tool_calling_components.png
  docs/static/img/tool_calling_concept.png
Due: none

fmt
  docs/docs/concepts/tool_calling.mdx
Due: none

Adding user agent for vector store
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Due: community

update
  docs/docs/concepts/async.mdx
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/vectorstores.mdx
Due: none

x
  docs/src/theme/FeatureTables.js
Due: none

core[patch]: add convert_to_openai_messages util
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

fmt
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core
