Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

x
  libs/community/langchain_community/graph_vectorstores/base.py
Due: community

core: add kwargs support to VectorStore (#25934)
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/vectorstores/redis/base.py
  libs/community/langchain_community/vectorstores/vectara.py
  libs/community/tests/unit_tests/chains/test_pebblo_retrieval.py
  libs/core/langchain_core/vectorstores/base.py
Due: core, community

x
  libs/text-splitters/poetry.lock
Due: none

fix
  libs/community/langchain_community/embeddings/hunyuan.py
Due: community

upgrade pydantic
  libs/community/langchain_community/embeddings/hunyuan.py
Due: community

move tqdm import
  libs/community/langchain_community/embeddings/hunyuan.py
Due: community

community: support Hunyuan Embedding (#23160)
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/hunyuan.py
  libs/community/tests/integration_tests/embeddings/test_hunyuan.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
Due: community

fix api ref link
  docs/docs/integrations/vectorstores/falkordbvector.ipynb
Due: none

x
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

chore(community): update to OpenLLM 0.6 (#24609)
  docs/docs/integrations/llms/openllm.ipynb
  docs/docs/integrations/providers/openllm.mdx
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/openllm.py
  libs/community/tests/integration_tests/llms/test_openllm.py
Due: community

community: added FalkorDB vector store support i.e implementation, test, docs an… (#26245)
  docs/docs/integrations/vectorstores/falkordbvector.ipynb
  libs/community/langchain_community/vectorstores/falkordb_vector.py
  libs/community/tests/integration_tests/vectorstores/test_falkordb_vector_integration.py
  libs/community/tests/unit_tests/vectorstores/test_falkordb_vector_utils.py
Due: community

update
  docs/docs/how_to/caching_embeddings.ipynb
Due: none

x
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
Due: text-splitters

x
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
Due: text-splitters

x
  libs/text-splitters/pyproject.toml
Due: none

text-splitters: Inconsistent results with `NLTKTextSplitter`'s `add_start_index=True` (#27782)
  libs/text-splitters/Makefile
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
Due: text-splitters

x
  libs/community/langchain_community/document_loaders/notiondb.py
  libs/community/tests/unit_tests/document_loaders/test_notiondb_loader.py
Due: community

community: Correctly handle multi-element rich text (#25762)
  libs/community/langchain_community/document_loaders/notiondb.py
  libs/community/tests/unit_tests/document_loaders/test_notiondb_loader.py
Due: community

consolidate custom embeddings content
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/how_to/custom_embeddings.ipynb
Due: none

address comments
  docs/docs/how_to/custom_embeddings.ipynb
Due: none

add to index page
  docs/docs/how_to/index.mdx
Due: none

add admonition to custom llm guide
  docs/docs/how_to/custom_llm.ipynb
Due: none

Updated tests to use tempdirectory for persistence of chroma tests.
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

Added comments
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

Fix lint error.
  libs/partners/chroma/langchain_chroma/vectorstores.py
Due: none

One more lint fix.
  libs/partners/chroma/langchain_chroma/vectorstores.py
Due: none

Remove unused shutil in tests.
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

update callouts
  docs/docs/how_to/custom_embeddings.ipynb
Due: none

Line too long.
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

lint fixes.
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

community: recommend RedisVectorStore over Redis
  libs/community/langchain_community/vectorstores/redis/base.py
Due: community

community: recommend RedisVectorStore over Redis (#28749)
  libs/community/langchain_community/vectorstores/redis/base.py
Due: community

edits
  docs/docs/how_to/custom_embeddings.ipynb
Due: none

x
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

introduce `langchain-localai`, spin off #22399
  docs/docs/integrations/text_embedding/localai.ipynb
  libs/packages.yml
Due: none

Update html.py
  libs/text-splitters/langchain_text_splitters/html.py
Due: text-splitters

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
