Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

linting
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

docs: add modelscope endpoint (#28941)
  docs/docs/integrations/chat/modelscope_chat_endpoint.ipynb
  docs/docs/integrations/llms/modelscope_endpoint.ipynb
  docs/docs/integrations/providers/modelscope.mdx
  docs/docs/integrations/text_embedding/modelscope_embedding.ipynb
  docs/docs/integrations/text_embedding/modelscope_hub.ipynb
  libs/packages.yml
Due: root

fix pydantic validation
  libs/community/langchain_community/agent_toolkits/slack/toolkit.py
  libs/community/langchain_community/tools/slack/base.py
Due: community

community[patch]: fix instantiation for Slack tools (#28990)
  libs/community/langchain_community/agent_toolkits/slack/toolkit.py
  libs/community/langchain_community/tools/slack/base.py
Due: community

(Community): Fix Keyword argument for `AzureAIDocumentIntelligenceParser` (#28959)
  libs/community/langchain_community/document_loaders/parsers/doc_intelligence.py
Due: community

docs: Update streaming.mdx (#28985)
  docs/docs/concepts/streaming.mdx
Due: root

revert change to original docstring
  libs/langchain/langchain/agents/agent_types.py
Due: langchain

update agent deprecation message
  libs/langchain/langchain/_api/deprecation.py
Due: langchain

langchain.agents: corrected documentation (#28986)
  libs/langchain/langchain/_api/deprecation.py
Due: langchain

community: update documentation and model IDs for FriendliAI provider (#28984)
  docs/docs/integrations/chat/friendli.ipynb
  docs/docs/integrations/llms/friendli.ipynb
  docs/docs/integrations/providers/friendli.mdx
  docs/docs/integrations/providers/friendly.md
  libs/community/langchain_community/chat_models/friendli.py
  libs/community/langchain_community/llms/friendli.py
  libs/community/tests/unit_tests/llms/test_friendli.py
Due: community, root

(Core) Small Change in Docstring for method `partial` for `BasePromptTemplate` (#28969)
  libs/core/langchain_core/prompts/base.py
Due: core

docs: update multi_vector.ipynb (#28954)
  docs/docs/how_to/multi_vector.ipynb
Due: root

docs: Remove deprecated `schema()` usage in examples (#28956)
  docs/docs/how_to/custom_tools.ipynb
Due: root

update
  libs/core/langchain_core/_api/deprecation.py
Due: core

(Community): `DuckDuckGoSearchAPIWrapper` backend changed from `api` to `auto` (#28961)
  libs/community/langchain_community/utilities/duckduckgo_search.py
Due: community

docs: fix typo in how-to guides (#28951)
  docs/docs/how_to/installation.mdx
Due: root

core[patch]: fix deprecation admonition in API ref (#28992)
  libs/core/langchain_core/_api/deprecation.py
Due: core

community: Update azureml endpoint (#28953)
  libs/community/langchain_community/llms/azureml_endpoint.py
Due: community

fix packages.yml
  libs/packages.yml
Due: none

fix link
  docs/scripts/partner_pkg_table.py
Due: root

docs[patch]: fix link (#28994)
  docs/scripts/partner_pkg_table.py
Due: root

docs: Add FalkorDB Chat Message History and Update Package Registry (#28914)
  docs/docs/integrations/memory/falkordb_chat_message_history.ipynb
  docs/docs/integrations/providers/falkordb.ipynb
  libs/packages.yml
Due: root

nit
  docs/docs/integrations/vectorstores/faiss.ipynb
  docs/docs/integrations/vectorstores/faiss_async.ipynb
Due: root

docs: Add FAISS Filter with Advanced Query Operators Documentation & Demonstration (#28938)
  docs/docs/integrations/vectorstores/faiss.ipynb
  docs/docs/integrations/vectorstores/faiss_async.ipynb
Due: root

x
  docs/docs/how_to/structured_output.ipynb
Due: root

docs: add stripe toolkit (#28122)
  docs/docs/integrations/tools/stripe.ipynb
Due: root

Docs: Add 'Optional' to installation section to fix an issue (#28902)
  docs/docs/how_to/structured_output.ipynb
Due: root

docs: Add "gpt-4o-2024-05-13-cached" in MODEL_COST_PER_1K_TOKENS (#28997)
  libs/community/langchain_community/callbacks/openai_info.py
Due: community

docs: CrateDB: Educate readers about full and semantic cache components
  docs/docs/integrations/providers/cratedb.mdx
Due: root

docs: CrateDB: Add link to package on PyPI
  docs/docs/integrations/providers/cratedb.mdx
Due: root

Support Gemini Tool Calling & Get the correct usage metadata for it
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Correct the linting
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Fix the Linting
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

docs: update already existing dappier mdx file
  docs/docs/integrations/providers/dappier.ipynb
  docs/docs/integrations/providers/dappier.mdx
  docs/docs/integrations/providers/dappierai.mdx
  docs/docs/integrations/retrievers/dappier.ipynb
Due: root

docs: update dappier description inside dappier retriever page
  docs/docs/integrations/retrievers/dappier.ipynb
Due: root

feat: add `pull-md` tool
  libs/community/langchain_community/agent_toolkits/load_tools.py
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/pull_md/__init__.py
  libs/community/langchain_community/tools/pull_md/tool.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/pull_md.py
  libs/community/tests/unit_tests/utilities/test_pull_md.py
Due: community

docs: add `pull-md` tool usage example
  docs/docs/integrations/tools/pull_md.ipynb
Due: root

Fix typo 'dipsatch' in callbacks_custom_events docs
  docs/docs/how_to/callbacks_custom_events.ipynb
Due: root

docs: CrateDB: Educate readers about full and semantic cache components (#29000)
  docs/docs/integrations/providers/cratedb.mdx
Due: root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
