Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

Bug fix
  libs/community/langchain_community/document_loaders/parsers/images.py
Due: community

Добавил примеры по работе c langchain.js
  js/README.md
  js/deno.json
  js/extraction.ipynb
  js/langgraph_quickstart.ipynb
  js/rag.ipynb
  js/tools.ipynb
Due: none

[Community]: AzureOpenAIWhisperParser Authenication Fix (#29135)
  libs/community/langchain_community/document_loaders/parsers/audio.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_azure_whisper_parser.py
Due: community

edits
  docs/docs/integrations/providers/fmp-data.mdx
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

community: Fix ConfluenceLoader load() failure caused by deleted pages (#29232)
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

[fix] Convert table names to list for compatibility in SQLDatabase (#29229)
  libs/community/langchain_community/utilities/sql_database.py
Due: community

add header
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Update elasticsearch_retriever.ipynb (#29223)
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
Due: root

docs: Fix typo in retrievers documentation: 'An vectorstore' -> 'A vectorstore' (#29221)
  docs/docs/concepts/retrievers.mdx
Due: root

[langchain_community.llms.xinference]: fix error in xinference.py (#29216)
  libs/community/langchain_community/llms/xinference.py
Due: community

(text-splitters): Small Fix in `_process_html` for HTMLSemanticPreservingSplitter to properly extract the metadata. (#29215)
  libs/text-splitters/langchain_text_splitters/html.py
Due: text-splitters

fix package registry
  libs/packages.yml
Due: none

Mehdi zare/fmp data doc (#29219)
  docs/docs/integrations/providers/fmp-data.mdx
  docs/docs/integrations/tools/fmp-data.ipynb
  libs/packages.yml
Due: root

feat: add Composio docs
  docs/docs/integrations/providers/composio.mdx
Due: root

fix: optimized the pdf
  libs/community/tests/unit_tests/document_loaders/sample_documents/geotopo-komprimiert.pdf
  libs/community/tests/unit_tests/document_loaders/test_pdf.py
Due: community

closes langchain-ai/langchain#26320: add documentation for Tilores provider and tools
  docs/docs/integrations/providers/tilores.ipynb
  docs/docs/integrations/tools/tilores.ipynb
Due: root

add provider integration docs
  docs/docs/integrations/providers/sambanova.ipynb
Due: root

update sambanova integration docs
  docs/docs/integrations/chat/sambanova.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
Due: root

add langchain-sambanova to integration packages list
  libs/packages.yml
Due: none

feat: add Composio docs to tools section
  docs/docs/integrations/tools/composio.ipynb
Due: root

fix: minor changes
  docs/docs/integrations/providers/composio.mdx
Due: root

improve error message
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

style
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

docs: update recommended code interpreters
  docs/scripts/tool_feat_table.py
Due: root

fix optimum min versiin
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

fix version
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

fix import
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

comment
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Due: huggingface

standard-tests: double messages test
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

fix: formatting & linting
  docs/docs/integrations/tools/composio.ipynb
Due: root

community(pypdfloader): added page_label in metadata for pypdf loader (#29225)
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/tests/unit_tests/document_loaders/sample_documents/geotopo-komprimiert.pdf
  libs/community/tests/unit_tests/document_loaders/test_pdf.py
Due: community

couchbase: Migrate couchbase partner package to different repo (#29239)
  libs/packages.yml
  libs/partners/couchbase/.gitignore
  libs/partners/couchbase/LICENSE
  libs/partners/couchbase/Makefile
  libs/partners/couchbase/README.md
  libs/partners/couchbase/langchain_couchbase/__init__.py
  libs/partners/couchbase/langchain_couchbase/cache.py
  libs/partners/couchbase/langchain_couchbase/chat_message_histories.py
  libs/partners/couchbase/langchain_couchbase/py.typed
  libs/partners/couchbase/langchain_couchbase/vectorstores.py
  libs/partners/couchbase/poetry.lock
  libs/partners/couchbase/pyproject.toml
  libs/partners/couchbase/scripts/check_imports.py
  libs/partners/couchbase/scripts/lint_imports.sh
  libs/partners/couchbase/tests/__init__.py
  libs/partners/couchbase/tests/integration_tests/__init__.py
  libs/partners/couchbase/tests/integration_tests/test_cache.py
  libs/partners/couchbase/tests/integration_tests/test_chat_message_history.py
  libs/partners/couchbase/tests/integration_tests/test_compile.py
  libs/partners/couchbase/tests/integration_tests/test_vector_store.py
  libs/partners/couchbase/tests/unit_tests/__init__.py
  libs/partners/couchbase/tests/unit_tests/test_imports.py
  libs/partners/couchbase/tests/unit_tests/test_vectorstore.py
  libs/partners/couchbase/tests/utils.py
Due: couchbase

core[patch]: make BaseMessage subscriptable
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/test_messages.py
Due: core

cr
  libs/core/langchain_core/messages/base.py
Due: core

Added docstring linting in /libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/indexes/vectorstore.py
Due: langchain

standard-tests: double messages test (#29237)
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: standard-tests

docs: update recommended code interpreters (#29236)
  docs/scripts/tool_feat_table.py
Due: root

community[docs]: update document for apply NCP API Key changed
  docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/providers/naver.mdx
  docs/docs/integrations/text_embedding/naver.ipynb
Due: root

[MistralAI] Improve MistralAIEmbeddings
  libs/partners/mistralai/langchain_mistralai/embeddings.py
Due: mistralai

feat: replace composio.mdx docs with composio.ipynb
  docs/docs/integrations/providers/composio.ipynb
  docs/docs/integrations/providers/composio.mdx
Due: root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
