Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

standard-tests: troubleshooting docstrings (#28268)
  libs/packages.yml
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: none

core: add space at end of error message link
  libs/core/langchain_core/exceptions.py
Due: core

core: add space at end of error message link (#28270)
  libs/core/langchain_core/exceptions.py
Due: core

task: connection to mistral small works + added unit tests pass
  libs/partners/mistralai/langchain_mistralai/__init__.py
  libs/partners/mistralai/langchain_mistralai/chat_models/__init__.py
  libs/partners/mistralai/langchain_mistralai/chat_models/azure.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_azure_chat_models_standard.ambr
  libs/partners/mistralai/tests/unit_tests/test_azure_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_azure_chat_models_standard.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_imports.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Due: standard-tests

api-docs: add standard tests package to build
  docs/api_reference/create_api_rst.py
Due: none

api-docs: add standard tests package to build (#28272)
  docs/api_reference/create_api_rst.py
Due: none

api-docs: add standard tests package to build 2
  docs/api_reference/create_api_rst.py
Due: none

api-docs: add standard tests package to build 2 (#28273)
  docs/api_reference/create_api_rst.py
Due: none

Update langchain docs to new Databricks package
  docs/docs/integrations/chat/databricks.ipynb
  docs/docs/integrations/text_embedding/databricks.ipynb
  docs/docs/integrations/tools/databricks.ipynb
  docs/docs/integrations/vectorstores/databricks_vector_search.ipynb
Due: none

docs: poetry publish
  docs/docs/contributing/how_to/index.mdx
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/how_to/custom_chat_model.ipynb
Due: none

x
  docs/docs/contributing/how_to/integrations/community.mdx
  docs/docs/contributing/how_to/integrations/from_template.mdx
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  libs/cli/langchain_cli/namespaces/integration.py
Due: none

x
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

x
  docs/docs/contributing/how_to/integrations/package.mdx
Due: none

x
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

docs: poetry publish (#28275)
  docs/docs/contributing/how_to/index.mdx
  docs/docs/contributing/how_to/integrations/community.mdx
  docs/docs/contributing/how_to/integrations/from_template.mdx
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  docs/docs/how_to/custom_chat_model.ipynb
  libs/cli/langchain_cli/namespaces/integration.py
Due: none

x
  docs/docs/how_to/custom_chat_model.ipynb
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
Due: standard-tests

x
  docs/docs/contributing/how_to/integrations/index.mdx
Due: none

fix: Refactor markdown splitter to handle multiple documents
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

x
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

x
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

docs: Update langchain docs to new Databricks package (#28274)
  docs/docs/integrations/chat/databricks.ipynb
  docs/docs/integrations/text_embedding/databricks.ipynb
  docs/docs/integrations/tools/databricks.ipynb
  docs/docs/integrations/vectorstores/databricks_vector_search.ipynb
Due: none

cli: release 0.0.33
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Due: none

chore: Change formatting for improved readability
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Due: text-splitters

x
  docs/docs/contributing/how_to/integrations/publish.mdx
Due: none

cli: release 0.0.33 (#28278)
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Due: none

x
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
Due: none

docs: poetry publish 2 (#28277)
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  docs/docs/how_to/custom_chat_model.ipynb
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
Due: standard-tests

groq,openai,mistralai: fix unit tests
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

groq,openai,mistralai: fix unit tests (#28279)
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

docs: poetry publish 3
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

docs: poetry publish 3 (#28280)
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

fix: fix novita docs
  docs/docs/integrations/chat/novita.ipynb
Due: none

fix import statement
  docs/docs/integrations/vectorstores/qdrant.ipynb
Due: none

community[fix]: fix Error("could not locate runnable browser")
  libs/community/langchain_community/tools/gmail/utils.py
Due: community

community[fix]: could not locate runnable browser
  libs/community/langchain_community/tools/gmail/utils.py
Due: community

update
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/llm_chain.ipynb
Due: none

docs: correct HuggingFaceEmbeddings documentation model param (#28269)
  docs/src/theme/EmbeddingTabs.js
Due: none

feat(chroma): add retrieval of embedding vectors
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Due: none

cr
  libs/core/langchain_core/utils/function_calling.py
Due: core

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
