Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

update
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/streaming.mdx
Due: none

core: update make format to fix all autofixable things
  libs/core/Makefile
Due: none

core: update make format to fix all autofixable things (#27174)
  libs/core/Makefile
Due: none

x
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Due: core

core: Add various ruff rules (#26836)
  libs/core/langchain_core/embeddings/fake.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/utils/utils.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/chat_history/test_chat_history.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/llms/test_base.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/stubs.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/vectorstores/test_in_memory.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Due: core

x
  docs/docs/integrations/tools/databricks.ipynb
Due: none

Reformat files and add required testing dependencies
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/chains/azure_content_safety_chain.py
  libs/community/tests/unit_tests/chains/test_azure_content_safety.py
Due: community

Lint file
  libs/community/langchain_community/chains/azure_content_safety_chain.py
Due: community

Add unit tests and required dependencies
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/tools/azure_ai_services/content_safety.py
  libs/community/tests/unit_tests/tools/azure_ai_services/test_content_safety.py
Due: community

Add docs and lint files
  docs/docs/integrations/tools/azure_content_safety.ipynb
  libs/community/tests/unit_tests/tools/azure_ai_services/test_content_safety.py
Due: community

standard-tests: test that only one chunk sets input_tokens
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Due: standard-tests

x
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Due: standard-tests

Add missing headers to docs and update attributes in class
  docs/docs/integrations/tools/azure_content_safety.ipynb
  libs/community/langchain_community/tools/azure_ai_services/content_safety.py
Due: community

Add remaining missing headers according to CI
  docs/docs/integrations/tools/azure_content_safety.ipynb
  libs/community/langchain_community/tools/azure_ai_services/content_safety.py
Due: community

Rearrange headers to try fix CI error
  docs/docs/integrations/tools/azure_content_safety.ipynb
Due: none

Rearrange headers
  docs/docs/integrations/tools/azure_content_safety.ipynb
Due: none

Change Tool Functions to Tool functions
  docs/docs/integrations/tools/azure_content_safety.ipynb
Due: none

Improve docstring
  libs/community/langchain_community/tools/azure_ai_services/image_analysis.py
Due: community

docs: add weave documentations and getting started guide
  docs/docs/integrations/callbacks/wandb_weave.ipynb
Due: none

Create an Azure face tool and unit tests
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/tools/azure_ai_services/face_analysis.py
  libs/community/tests/examples/face.jpg
  libs/community/tests/examples/no_face.jpg
  libs/community/tests/unit_tests/tools/azure_ai_services/test_face_analysis.py
Due: community

Making requested review changes.
  templates/rag-alloy/LICENSE
  templates/rag-alloy/rag_alloy/__init__.py
  templates/rag-cloudsql/LICENSE
  templates/rag-cloudsql/rag_cloudsql/__init__.py
  templates/rag-google-alloydb-pg/LICENSE
  templates/rag-google-alloydb-pg/README.md
  templates/rag-google-alloydb-pg/pyproject.toml
  templates/rag-google-alloydb-pg/rag_google_alloydb_pg/__init__.py
  templates/rag-google-alloydb-pg/rag_google_alloydb_pg/chain.py
  templates/rag-google-alloydb-pg/tests/__init__.py
  templates/rag-google-cloud-sql-pg/LICENSE
  templates/rag-google-cloud-sql-pg/README.md
  templates/rag-google-cloud-sql-pg/pyproject.toml
  templates/rag-google-cloud-sql-pg/rag_google_cloud_sql_pg/__init__.py
  templates/rag-google-cloud-sql-pg/rag_google_cloud_sql_pg/chain.py
  templates/rag-google-cloud-sql-pg/tests/__init__.py
Due: none

Update test file and create docs
  docs/docs/example_data/face.jpg
  docs/docs/integrations/tools/azure_ai_face.ipynb
  libs/community/tests/unit_tests/tools/azure_ai_services/test_face_analysis.py
Due: community

Change order of cells
  docs/docs/integrations/tools/azure_content_safety.ipynb
Due: none

Update cell order
  docs/docs/integrations/tools/azure_ai_face.ipynb
Due: none

Lint files
  docs/docs/integrations/tools/azure_ai_face.ipynb
  libs/community/tests/unit_tests/tools/azure_ai_services/test_face_analysis.py
Due: community

Correct spelling and types
  docs/docs/integrations/tools/azure_ai_face.ipynb
  libs/community/tests/unit_tests/tools/azure_ai_services/test_face_analysis.py
Due: community

Remove openai dependency from community
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

.
  libs/community/tests/unit_tests/load/test_dump.py
Due: community

remove try-catch for bug
  libs/community/langchain_community/vectorstores/oceanbase.py
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/vectorstores/test_oceanbase.py
Due: community

expanded class docstring and slight changes to output format
  libs/community/langchain_community/document_loaders/parsers/excel.py
Due: community

add two more tests and fix format issues
  docs/docs/integrations/vectorstores/sap_hanavector.ipynb
  libs/community/langchain_community/vectorstores/hanavector.py
  libs/community/tests/integration_tests/vectorstores/test_hanavector.py
Due: community

docs: fixed broken link for StructuredTool.from_function
  docs/docs/how_to/custom_tools.ipynb
Due: none

try fixing tests
  docs/docs/integrations/graphs/memgraph.ipynb
  libs/community/langchain_community/graphs/memgraph_graph.py
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
Due: community, langchain

change typing
  libs/community/langchain_community/graphs/memgraph_graph.py
Due: community

sort imports
  libs/community/langchain_community/graphs/memgraph_graph.py
Due: community

sort imports
  docs/docs/integrations/graphs/memgraph.ipynb
Due: none

remove extra line
  libs/community/langchain_community/graphs/memgraph_graph.py
Due: community

use LONGTEXT
  libs/community/langchain_community/vectorstores/oceanbase.py
Due: community

use traceback
  libs/community/langchain_community/vectorstores/oceanbase.py
Due: community

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
