Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

x
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
Due: standard-tests

standard-tests: tool tests (#28244)
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  libs/standard-tests/langchain_tests/integration_tests/tools.py
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
Due: standard-tests

standard-tests: release 0.3.4
  libs/standard-tests/pyproject.toml
Due: none

standard-tests: fix decorator init test
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/tests/unit_tests/test_decorated_tool.py
Due: standard-tests

standard-tests: fix decorator init test (#28246)
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/tests/unit_tests/test_decorated_tool.py
Due: standard-tests

standard-tests: release 0.3.4 (#28245)
  libs/standard-tests/pyproject.toml
Due: none

docs: standard test version badge
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

multiple: push deprecation removals to 1.0 (#28236)
  docs/docs/contributing/how_to/integrations/from_template.mdx
  libs/community/langchain_community/embeddings/nemo.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
Due: community

docs: standard test version badge (#28247)
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Due: none

Pebblo: Policy enforcement in Safe Retriever
  libs/community/langchain_community/chains/pebblo_retrieval/base.py
  libs/community/langchain_community/chains/pebblo_retrieval/enforcement_filters.py
  libs/community/langchain_community/chains/pebblo_retrieval/models.py
  libs/community/langchain_community/chains/pebblo_retrieval/utilities.py
  libs/community/tests/unit_tests/chains/test_pebblo_retrieval.py
Due: community

change to pass checks
  docs/docs/integrations/chat/lindorm_chat.ipynb
  docs/docs/integrations/text_embedding/lindorm_ai.ipynb
  docs/docs/integrations/vectorstores/lindorm.ipynb
  docs/docs/integrations/vectorstores/lindorm_search_store.ipynb
  libs/community/langchain_community/chat_models/lindorm_chat.py
  libs/community/langchain_community/document_compressors/lindormai_rerank.py
  libs/community/langchain_community/embeddings/lindorm_embedding.py
  libs/community/langchain_community/retrievers/lindorm_document_retriever.py
  libs/community/langchain_community/storage/lindorm_search_bytestore.py
  libs/community/langchain_community/vectorstores/lindorm_vector_search.py
  libs/community/tests/integration_tests/chat_models/test_lindorm.py
  libs/community/tests/integration_tests/document_compressors/test_lindormai_rerank.py
  libs/community/tests/integration_tests/embeddings/test_lindorm.py
  libs/community/tests/integration_tests/storage/test_lindorm.py
  libs/community/tests/integration_tests/vectorstores/test_lindorm.py
Due: community

fix linting issues
  libs/community/langchain_community/chat_models/kinetica.py
Due: community

Support for new Pinecone class PineconeVectorStore
  libs/community/langchain_community/chains/pebblo_retrieval/enforcement_filters.py
Due: community

feat: add include_labels option to ConfluenceLoader
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

fix lint
  libs/community/langchain_community/document_loaders/confluence.py
Due: community

add test
  libs/community/tests/unit_tests/document_loaders/test_confluence.py
Due: community

bugfix: fix source path for office files in O365
  libs/community/langchain_community/document_loaders/base_o365.py
Due: community

community: fix compatibility issue in kinetica chat model integration for Pydantic 2 (#28252)
  libs/community/langchain_community/chat_models/kinetica.py
Due: community

relax tolerance on comparison
  libs/partners/openai/tests/integration_tests/embeddings/test_azure.py
  libs/partners/openai/tests/integration_tests/embeddings/test_base.py
Due: none

update sql qa tutorial
  docs/docs/tutorials/sql_qa.ipynb
Due: none

cr
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/llm_chain.ipynb
  docs/docs/tutorials/retrievers.ipynb
Due: none

delete local rag tutorial, redirect to rag tutorial, update links
  docs/docs/how_to/local_llms.ipynb
  docs/docs/integrations/chat/llama2_chat.ipynb
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/local_rag.ipynb
  docs/docs/tutorials/rag.ipynb
  docs/scripts/prepare_notebooks_for_ci.py
  docs/vercel.json
Due: none

cr
  docs/docs/tutorials/rag.ipynb
  docs/docs/tutorials/retrievers.ipynb
Due: none

fix bare except
  docs/docs/tutorials/sql_qa.ipynb
Due: none

delete synthetic data tutorial
  docs/docs/tutorials/data_generation.ipynb
  docs/docs/tutorials/index.mdx
  docs/vercel.json
Due: none

update
  docs/docs/tutorials/index.mdx
Due: none

rename llm chain tutorial
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/llm_chain.ipynb
Due: none

openai[patch]: unskip test and relax tolerance in embeddings comparison (#28262)
  libs/partners/openai/tests/integration_tests/embeddings/test_azure.py
  libs/partners/openai/tests/integration_tests/embeddings/test_base.py
Due: none

infra: fix api docs build
  .github/scripts/prep_api_docs_build.py
Due: none

infra: fix api docs build (#28264)
  .github/scripts/prep_api_docs_build.py
Due: none

infra: disable vertex api build
  libs/packages.yml
Due: none

infra: disable vertex api build (#28266)
  libs/packages.yml
Due: none

update tool_example_to_messages util
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Due: core

update standard test
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: none

temporarily subset integration test job
  .github/workflows/scheduled_test.yml
Due: none

Revert "temporarily subset integration test job"
  .github/workflows/scheduled_test.yml
Due: none

standard-tests: troubleshooting docstrings
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: none

Updated model to model_name
  docs/src/theme/EmbeddingTabs.js
Due: none

x
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Due: none

x
  libs/packages.yml
Due: none

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
