Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

fmt
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/utils/test_usage.py
Due: core

Add an upper version bound for tenacity.
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/pyproject.toml
  poetry.lock
Due: none

fmt
  libs/core/langchain_core/messages/ai.py
Due: core

core[patch]: utils for adding/subtracting usage metadata (#27203)
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/utils/test_usage.py
Due: core

langchain_chroma[patch]: updated example for get documents with where clause (#26767)
  libs/partners/chroma/langchain_chroma/vectorstores.py
Due: none

Update docs/docs/versions/v0_2/overview.mdx
  docs/docs/versions/v0_2/overview.mdx
Due: none

undo checks
  docs/docs/integrations/chat/ibm_watsonx.ipynb
Due: none

x
  poetry.lock
Due: none

x
  libs/langchain/poetry.lock
Due: none

openai[patch]: default temp=1 for o1
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

Update Azure DB for PostgreSQL example with Entra auth.
  docs/docs/integrations/vectorstores/azure_db_for_postgresql.ipynb
Due: none

docs: Update IBM `ChatWatsonx` documentation (#27189)
  docs/docs/integrations/chat/ibm_watsonx.ipynb
Due: none

sambastudio llm refactor and openai comaptible api handling added
  libs/community/langchain_community/llms/sambanova.py
  libs/community/scripts/check_pydantic.sh
Due: community

fmt
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

core: release 0.3.10
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

updates
  docs/docs/integrations/providers/konlpy.mdx
  docs/docs/integrations/providers/kuzu.mdx
  docs/docs/integrations/providers/llama_index.mdx
  docs/docs/integrations/providers/llamaedge.mdx
  docs/docs/integrations/providers/llamafile.mdx
Due: none

core: ruff encoding rule preview
  libs/core/pyproject.toml
Due: none

openai[patch]: default temp=1 for o1 (#27206)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: none

x
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/rate_limiters.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Due: core

update docs
  docs/docs/integrations/llms/sambanova.ipynb
Due: none

Update sambastudio.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
Due: none

x
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

core: release 0.3.10 (#27209)
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

Use either Entra or password auth
  docs/docs/integrations/vectorstores/azure_db_for_postgresql.ipynb
Due: none

docs: minor fix sambastudio chat model docs (#27212)
  docs/docs/integrations/chat/sambastudio.ipynb
Due: none

langchain: release 0.3.3
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

langchain: release 0.3.3 (#27213)
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

docs updated
  docs/docs/integrations/llms/sambastudio.ipynb
Due: none

community: Fix database connections for neo4j (#27190)
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/langchain_community/vectorstores/neo4j_vector.py
Due: community

community: release 0.3.2
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

Added Credential header back
  docs/docs/integrations/vectorstores/azure_db_for_postgresql.ipynb
Due: none

updates
  docs/docs/integrations/platforms/google.mdx
Due: none

[community] Add timeout control and retry for UC tool execution (#26645)
  docs/docs/integrations/tools/databricks.ipynb
  libs/community/langchain_community/tools/databricks/_execution.py
Due: community

community: release 0.3.2 (#27214)
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

Update libs/community/tests/unit_tests/retrievers/test_you.py
  libs/community/tests/unit_tests/retrievers/test_you.py
Due: community

Update libs/community/tests/unit_tests/tools/test_you.py
  libs/community/tests/unit_tests/tools/test_you.py
Due: community

community: Cassandra Vector Store: extend metadata-related methods (#27078)
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Due: community

Update word_document.py | Fixed metadata["source"] for web paths
  libs/community/langchain_community/document_loaders/word_document.py
Due: community

fixes #27188
  docs/docs/tutorials/rag.ipynb
Due: none

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
