Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

fmt
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

fmt
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

Completed page 2 of 3
  docs/docs/integrations/memory/xata_chat_message_history.ipynb
  docs/docs/integrations/providers/mlflow_tracking.ipynb
  docs/docs/integrations/providers/wandb_tracking.ipynb
  docs/docs/integrations/tools/azure_cognitive_services.ipynb
  docs/docs/integrations/tools/google_drive.ipynb
  docs/docs/integrations/tools/google_serper.ipynb
  docs/docs/integrations/tools/jira.ipynb
  docs/docs/integrations/tools/openapi_nla.ipynb
  docs/docs/integrations/tools/steam.ipynb
Due: root

Finished page 3
  docs/docs/integrations/callbacks/comet_tracing.ipynb
  docs/docs/integrations/llms/amazon_api_gateway.ipynb
  docs/docs/integrations/providers/aim_tracking.ipynb
  docs/docs/integrations/providers/clearml_tracking.ipynb
  docs/docs/integrations/providers/wandb_tracing.ipynb
  docs/docs/integrations/tools/ainetwork.ipynb
  docs/docs/integrations/tools/clickup.ipynb
  docs/docs/integrations/tools/e2b_data_analysis.ipynb
  docs/docs/integrations/tools/edenai_tools.ipynb
  docs/docs/integrations/tools/graphql.ipynb
  docs/docs/integrations/tools/office365.ipynb
  docs/docs/integrations/tools/yahoo_finance_news.ipynb
Due: root

move section farther down
  docs/docs/how_to/index.mdx
Due: root

Update libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

add admonition
  docs/docs/how_to/index.mdx
Due: root

openai[patch]: detect old models in with_structured_output (#29392)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Due: openai

re-order some sections
  docs/docs/how_to/index.mdx
Due: root

update
  docs/docs/integrations/providers/langfair.mdx
Due: root

format
  docs/docs/integrations/providers/langfair.ipynb
Due: root

fix
  docs/docs/how_to/index.mdx
Due: root

openai[patch]: fix int test
  libs/partners/openai/Makefile
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

move admonition
  docs/docs/how_to/index.mdx
Due: root

fmt
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

openai[patch]: fix int test (#29395)
  libs/partners/openai/Makefile
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

simplified the HTMLHeaderTextSplitter code
  libs/text-splitters/langchain_text_splitters/html.py
Due: text-splitters

update notebook
  docs/docs/integrations/providers/langfair.ipynb
Due: root

docs: update how-to index page (#29393)
  docs/docs/how_to/index.mdx
Due: root

add test
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

return content blocks when citations are generated
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

anthropic[patch]: always return content blocks if citations are generated (#29398)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

minor fix
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: anthropic

bump core and increment version
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Due: anthropic

anthropic[patch]: release 0.3.4 (#29399)
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Due: anthropic

[wip]
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

add to ChatAnthropic docs
  docs/docs/integrations/chat/anthropic.ipynb
Due: root

docs: document citations in ChatAnthropic (#29401)
  docs/docs/integrations/chat/anthropic.ipynb
Due: root

docs: groq api key links
  docs/docs/integrations/chat/groq.ipynb
  docs/docs/integrations/providers/groq.mdx
  libs/partners/groq/README.md
Due: groq, root

docs: groq api key links (#29402)
  docs/docs/integrations/chat/groq.ipynb
  docs/docs/integrations/providers/groq.mdx
  libs/partners/groq/README.md
Due: groq, root

core: Add ruff rules TRY (tryceratops) (#29388)
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/utils/html.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/usage.py
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Due: core

Merge master
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
Due: community

Upgrade Chroma to 0.6.x
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Due: chroma

format improvements
  libs/text-splitters/langchain_text_splitters/html.py
Due: text-splitters

fixed similarity search with score error #29407
  libs/community/langchain_community/vectorstores/azuresearch.py
Due: community

docs: replace 'state_modifier' with 'prompt'
  docs/docs/how_to/chatbots_tools.ipynb
  docs/docs/how_to/migrate_agent.ipynb
  docs/docs/integrations/tools/databricks.ipynb
  docs/docs/integrations/tools/requests.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
  docs/docs/tutorials/sql_qa.ipynb
  docs/docs/versions/migrating_memory/conversation_buffer_memory.ipynb
  docs/docs/versions/migrating_memory/conversation_buffer_window_memory.ipynb
  docs/docs/versions/migrating_memory/long_term_memory_agent.ipynb
Due: root

lint
  docs/docs/how_to/migrate_agent.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
Due: root

docs: fix link
  docs/docs/integrations/text_embedding/sambanova.ipynb
Due: root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
