Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

update
  libs/community/langchain_community/llms/azureml_endpoint.py
Due: community

fmt
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Due: standard-tests

community[patch]: Fix missing protected_namespaces (#27076)
  libs/community/langchain_community/llms/azureml_endpoint.py
  libs/community/langchain_community/llms/bedrock.py
  libs/community/langchain_community/llms/minimax.py
  libs/community/langchain_community/llms/vertexai.py
  libs/community/langchain_community/llms/volcengine_maas.py
Due: community

fmt
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Due: standard-tests

docs
  libs/core/langchain_core/messages/ai.py
Due: core

xqx
  libs/community/langchain_community/llms/minimax.py
  libs/community/langchain_community/llms/solar.py
Due: community

fmt
  libs/core/langchain_core/messages/ai.py
  libs/core/pyproject.toml
Due: core

docs: remove spaces in percent pip
  docs/docs/integrations/document_loaders/airbyte.ipynb
  docs/docs/integrations/document_loaders/browserbase.ipynb
  docs/docs/tutorials/local_rag.ipynb
  docs/docs/versions/migrating_chains/map_reduce_chain.ipynb
Due: none

Refactor: Extract Arxiv search logic into a helper function to reduce code duplication and improve maintainability.
  libs/community/langchain_community/document_loaders/parsers/grobid.py
  libs/community/langchain_community/utilities/arxiv.py
Due: community

snapshot
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Due: core

docs: remove spaces in percent pip (#27082)
  docs/docs/integrations/document_loaders/airbyte.ipynb
  docs/docs/integrations/document_loaders/browserbase.ipynb
  docs/docs/tutorials/local_rag.ipynb
  docs/docs/versions/migrating_chains/map_reduce_chain.ipynb
Due: none

community: release 0.3.2
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

docs: Documentation update for Document Parse (#26844)
  docs/docs/integrations/document_loaders/upstage.ipynb
  docs/docs/integrations/providers/upstage.ipynb
Due: none

core[patch]: add UsageMetadata details (#27072)
  libs/core/langchain_core/messages/ai.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Due: core, standard-tests

anthropic[patch]: add usage_metadata details
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Due: none

Update docs.
  docs/docs/integrations/chat/oci_data_science.ipynb
Due: none

openai[patch]: add usage metadata details (#27080)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
Due: none

wip
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
Due: none

Replace region with placeholder.
  docs/docs/integrations/chat/oci_data_science.ipynb
Due: none

core[patch]: exclude model cache from ser
  libs/core/langchain_core/language_models/base.py
Due: core

i good spell
  libs/core/langchain_core/language_models/base.py
Due: core

remove default instructions
  libs/community/langchain_community/embeddings/infinity.py
  libs/community/tests/unit_tests/embeddings/test_infinity.py
Due: community

fmt
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

fmt
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: langchain

core[patch]: exclude model cache from ser (#27086)
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Due: core, langchain

fmt
  libs/partners/anthropic/tests/integration_tests/test_standard.py
Due: none

fmt
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: none

update content safety chain to use `pydantic` decorator
  libs/community/langchain_community/chains/azure_content_safety_chain.py
Due: community

First draft of concept pages
  docs/docs/concepts.mdx
  docs/docs/concepts/retrieval_semi_structured.mdx
  docs/docs/concepts/retrieval_structured.mdx
  docs/docs/concepts/retrieval_unstructured.mdx
  docs/docs/concepts/structured_output.mdx
  docs/docs/concepts/tool_calling.mdx
  docs/docs/concepts/why_langchain.mdx
  docs/static/img/tool_call_example.png
  docs/static/img/tool_calling_agent.png
  docs/static/img/with_structured_output.png
Due: none

x
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

core: fix batch race condition in FakeListChatModel (#26924)
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Due: core

docs: Integrations NVIDIA llm documentation (#26934)
  docs/docs/integrations/llms/nvidia_ai_endpoints.ipynb
Due: none

x
  libs/partners/openai/tests/integration_tests/chat_models/test_azure.py
Due: none

docs[patch]: update links w/ new langgraph API ref (#26961)
  docs/scripts/generate_api_reference_links.py
Due: none

Create tests for the azure_content_safety_chain
  libs/community/tests/unit_tests/chains/test_azure_content_safety.py
Due: community

Create docs for the class and correct hyperlinks in docstrings
  docs/docs/integrations/chains/azure_ai_content_safety.ipynb
  libs/community/langchain_community/chains/azure_content_safety_chain.py
Due: community
