Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/

docs: Fix old link to Unstructured package in document_loader_markdown.ipynb (#29175)
  docs/docs/how_to/document_loader_markdown.ipynb
Due: root

cookbook: fix typo in cookbook/mongodb-langchain-cache-memory.ipynb (#29149)
  cookbook/mongodb-langchain-cache-memory.ipynb
Due: root

added citation to streaming
  libs/community/langchain_community/chat_models/perplexity.py
Due: community

docs: add HyperbrowserLoader docs (#29143)
  docs/docs/integrations/document_loaders/hyperbrowser.ipynb
  docs/docs/integrations/providers/hyperbrowser.mdx
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Due: root

langchain: support api key argument with OpenAI moderation chain (#29140)
  libs/langchain/langchain/chains/moderation.py
  libs/langchain/tests/integration_tests/chains/openai_functions/test_openapi.py
Due: langchain

add IPEX models
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/utils/import_utils.py
Due: huggingface

revert
  docs/src/theme/FeatureTables.js
Due: root

fix anchor link
  docs/docs/integrations/chat/pipeshift.ipynb
Due: root

fix anchor links
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
  libs/cli/langchain_cli/integration_template/docs/toolkits.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
Due: none

cli[patch]: fix anchor links in templates (#29178)
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
  libs/cli/langchain_cli/integration_template/docs/toolkits.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
Due: none

documentation update on pre filters in azure cosmosdb nosql
  docs/docs/integrations/vectorstores/azure_cosmos_db_no_sql.ipynb
Due: root

docs: fix httpx conflicts with overrides in docs build
  docs/Makefile
  docs/vercel_overrides.txt
Due: root

x
  .github/workflows/api_doc_build.yml
Due: none

docs: fix httpx conflicts with overrides in docs build (#29180)
  .github/workflows/api_doc_build.yml
  docs/Makefile
  docs/vercel_overrides.txt
Due: root

langchain: make numpy optional
  libs/langchain/langchain/chains/flare/base.py
  libs/langchain/langchain/chains/hyde/base.py
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: langchain

x
  libs/langchain/langchain/chains/flare/base.py
  libs/langchain/langchain/chains/hyde/base.py
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
Due: langchain

x
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: langchain

x
  libs/langchain/langchain/evaluation/embedding_distance/base.py
Due: langchain

x
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/tests/unit_tests/test_dependencies.py
Due: langchain

anthropic: pydantic mypy plugin (#29144)
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

Improve error handling and support stream method
  libs/community/langchain_community/llms/xinference.py
Due: community

Update xinference.py
  libs/community/langchain_community/llms/xinference.py
Due: community

Adds Opensearch in feature table for vector stores
  docs/src/theme/FeatureTables.js
  docs/src/theme/VectorStoreTabs.js
Due: root

Add new package entry for langchain-fmp-data
  libs/packages.yml
Due: none

Add documentation for FMP Data integration
  docs/docs/integrations/providers/fmp-data.mdx
Due: root

revert to original
  poetry.lock
Due: none

Rename FMP integration files and fix minor docs typo
  docs/docs/integrations/providers/fmp-data.mdx
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Refactor FMPData notebook structure for improved readability
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

"Refactor FMP data tutorial notebook format"
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Refactor FMPData integration documentation notebook
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Update FMPData integration notebook for consistency and clarity
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Simplify and restructure FMPData integration tutorial
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Convert FMP data documentation notebook to markdown format
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Simplify FMPData integration notebook content.
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Convert FMPData documentation to Jupyter Notebook format
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Convert FMP integration documentation to Jupyter Notebook format
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Convert FMPData documentation to Jupyter Notebook format
  docs/docs/integrations/tools/fmp-data.ipynb
  docs/docs/integrations/tools/fmp.ipynb
Due: root
