Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

linting
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db_no_sql.py
Due: community

x
  libs/community/langchain_community/llms/outlines.py
  libs/community/langchain_community/vectorstores/falkordb_vector.py
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/storage/test_redis.py
  libs/community/tests/unit_tests/test_dependencies.py
  poetry.lock
  pyproject.toml
Due: community

openvino ASR
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/openvino_speech_to_text.py
  libs/community/pyproject.toml
Due: community

Add nonstandard parameter tests
  libs/core/tests/unit_tests/test_tools.py
Due: core

Add tool info assertions to all method tool tests
  libs/core/tests/unit_tests/test_tools.py
Due: core

x
  libs/community/langchain_community/document_loaders/parsers/__init__.py
  libs/community/langchain_community/document_loaders/parsers/adobe_pdf_extract.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_adobe_pdf_extract.py
Due: community

x
  docs/docs/integrations/document_loaders/adobe_pdf_extract.ipynb
Due: none

x
  libs/community/langchain_community/graph_vectorstores/visualize.py
Due: community

[community]: Render documents to graphviz (#24830)
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/graph_vectorstores/visualize.py
  libs/community/tests/unit_tests/graph_vectorstores/test_visualize.py
Due: community

x
  libs/community/langchain_community/chat_models/hunyuan.py
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/hunyuan.py
Due: community

community: fix an issue with deepinfra integration (#28715)
  libs/community/langchain_community/chat_models/deepinfra.py
Due: community

core: release 0.3.25
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

core: release 0.3.25 (#28718)
  libs/core/poetry.lock
  libs/core/pyproject.toml
Due: none

Added a link to the taxonomy of labels in the contributing guide
  docs/docs/contributing/index.mdx
Due: none

Multimodal embeddings
  libs/core/langchain_core/embeddings/multimodal_embeddings.py
Due: core

bump unstructured
  poetry.lock
  pyproject.toml
Due: none

add back tabulate
  poetry.lock
  pyproject.toml
Due: none

infra: fix notebook tests (#28722)
  poetry.lock
  pyproject.toml
Due: none

text-splitters[patch]: Release 0.3.3
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

text-splitters[patch]: Release 0.3.3 (#28723)
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

langchain[patch]: Release 0.3.12
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

langchain[patch]: Release 0.3.12 (#28724)
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

community[patch]: Release 0.3.12
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

community[patch]: Release 0.3.12 (#28725)
  libs/community/poetry.lock
  libs/community/pyproject.toml
Due: none

linting
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Due: community

fixing tests
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db_no_sql.py
Due: community

linting
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db_no_sql.py
Due: community

adding managed identity support
  libs/community/langchain_community/vectorstores/azure_cosmos_db.py
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Due: community

feat: add JustextWebLoader with dependencies
  libs/community/langchain_community/document_loaders/web_justext.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/document_loaders/test_web_justext.py
Due: community

[chore]: Added Warning
  libs/community/langchain_community/embeddings/huggingface.py
Due: community

Path conditions:
  core: any of: ^libs/core/(langchain_core|tests)/
  community: any of: ^libs/community/(langchain_community|tests)/
  langchain: any of: ^libs/langchain/(langchain|tests)/
  standard-tests: any of: ^libs/standard-tests/(langchain_standard_tests|tests)/
  text-splitters: any of: ^libs/text-splitters/(langchain_text_splitters|tests)/
