Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: core
      name: format core
      language: system
      entry: make -C libs/core format
      files: ^libs/core/(langchain_core|tests)/
      pass_filenames: false
    - id: community
      name: format community
      language: system
      entry: make -C libs/community format
      files: ^libs/community/(langchain_community|tests)/
      pass_filenames: false
    - id: langchain
      name: format langchain
      language: system
      entry: make -C libs/langchain format
      files: ^libs/langchain/(langchain|tests)/
      pass_filenames: false
    - id: standard-tests
      name: format standard-tests
      language: system
      entry: make -C libs/standard-tests format
      files: ^libs/standard-tests/(langchain_standard_tests|tests)/
      pass_filenames: false
    - id: text-splitters
      name: format text-splitters
      language: system
      entry: make -C libs/text-splitters format
      files: ^libs/text-splitters/(langchain_text_splitters|tests)/
      pass_filenames: false

docs: fix typo in query analysis documentation (#27697)
  docs/docs/concepts/retrieval.mdx
Due: none

Update libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/agent.py
Due: langchain

docs: Fix typo in _action_agent docs section (#27698)
  libs/langchain/langchain/agents/agent.py
Due: langchain

partners/huggingface[patch]: fix HuggingFacePipeline model_id parameter (#27514)
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/tests/unit_tests/test_huggingface_pipeline.py
Due: none

Revert code change
  docs/docs/tutorials/extraction.ipynb
Due: none

core: JsonOutputParser UTF characters bug (#27306)
  libs/core/langchain_core/output_parsers/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
Due: core

DOC: Tutorial Section Updates (#27675)
  docs/docs/tutorials/agents.ipynb
  docs/docs/tutorials/classification.ipynb
  docs/docs/tutorials/data_generation.ipynb
  docs/docs/tutorials/rag.ipynb
Due: none

Add support for structured output
  libs/community/langchain_community/chat_models/cloudflare_workersai.py
Due: community

allow for custom handlers in o365 loader
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/document_loaders/onedrive.py
  libs/community/langchain_community/document_loaders/sharepoint.py
Due: community

formatting
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/document_loaders/onedrive.py
  libs/community/langchain_community/document_loaders/sharepoint.py
Due: community

docs: Added WatsonxRerank documentation (#27424)
  docs/docs/integrations/chat/ibm_watsonx.ipynb
  docs/docs/integrations/llms/ibm_watsonx.ipynb
  docs/docs/integrations/providers/ibm.mdx
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
  docs/docs/versions/v0_3/index.mdx
  docs/scripts/partner_pkg_table.py
  docs/src/theme/FeatureTables.js
Due: none

linting
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/document_loaders/onedrive.py
Due: community

CrateDB: Documentation about Vector Store, Document Loader, and Memory
  docs/docs/.gitignore
  docs/docs/integrations/document_loaders/cratedb.ipynb
  docs/docs/integrations/document_loaders/example_data/mlb_teams_2012.sql
  docs/docs/integrations/memory/cratedb_chat_message_history.ipynb
  docs/docs/integrations/providers/cratedb.mdx
  docs/docs/integrations/vectorstores/cratedb.ipynb
Due: none

docs: fix typo in query analysis documentation
  docs/docs/concepts/retrieval.mdx
Due: none

docs: redis in api docs
  .github/workflows/api_doc_build.yml
Due: none

docs: redis in api docs (#27722)
  .github/workflows/api_doc_build.yml
Due: none

docs: fix typo in query analysis documentation (#27721)
  docs/docs/concepts/retrieval.mdx
Due: none

docs: Fixed Grammar & Improve reading (#27672)
  docs/docs/tutorials/index.mdx
Due: none

Update milvus documentation
  docs/docs/integrations/vectorstores/milvus.ipynb
Due: none

Add gateway option for url
  libs/community/langchain_community/chat_models/cloudflare_workersai.py
Due: community

docs: Add databricks-langchain package consolidation notice (#27703)
  docs/docs/integrations/providers/databricks.md
Due: none

chore: vec-411 update notebook to use Python client 3.0.0 and test docker compose to use AVS 0.11.1
  docs/docs/integrations/vectorstores/aerospike.ipynb
  libs/community/tests/integration_tests/vectorstores/docker-compose/aerospike/docker-compose.yml
Due: community

feat: update vllm module
  libs/community/langchain_community/llms/vllm.py
Due: community

anthropic[patch]: allow multiple sys not at start
  libs/core/langchain_core/messages/utils.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Due: core

undo
  libs/core/langchain_core/messages/utils.py
Due: core

langchain[patch]: Release 0.3.5
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

text-splitters[patch]: Release 0.3.1
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

ci
  .github/scripts/check_diff.py
Due: none

text-splitters[patch]: Release 0.3.1 (#27726)
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Due: none

langchain[patch]: Release 0.3.5 (#27727)
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Due: none

Added bedrock 3-5 sonnet new model's cost detials for BedrockAnthropicTokenUsageCallbackHandler
  libs/community/langchain_community/callbacks/bedrock_anthropic_callback.py
Due: community

update: remove unused sentence and reformat codes
  libs/community/langchain_community/llms/vllm.py
Due: community

Support message trimming on single messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

rfc: AIMessage.parsed and with_structured_output(..., tools=[])
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/output_parsers/base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: core

Add test
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

Support message trimming on single messages (#27729)
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Due: core

wip
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: none

Updated the language used
  docs/docs/concepts/why_langchain.mdx
Due: none

Updated language and link a relevant page for users to learn how to define schemas
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/why_langchain.mdx
Due: none
