Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

cr
  docs/src/theme/ChatModelTabs.js
Due: root

fixes
  docs/src/theme/ChatModelTabs.js
Due: root

add openai streaming for tts
  libs/community/langchain_community/tools/openai/text2speech.py
  libs/community/langchain_community/tools/openvino/text2speech.py
  test.wav
Due: community

rm test file
  test.wav
Due: none

docs: showcase extras in chat model tabs (#29677)
  docs/src/theme/ChatModelTabs.js
Due: root

core: Handle unterminated escape character when parsing partial JSON (#29065)
  libs/core/langchain_core/utils/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
Due: core

huggingface: Add ipex support to HuggingFaceEmbeddings (#29386)
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
Due: huggingface

Community/Partner: Adding Azure community and partner user agent to better track usage in Python (#29561)
  libs/community/langchain_community/chat_models/azure_openai.py
  libs/community/langchain_community/embeddings/azure_openai.py
  libs/community/langchain_community/llms/openai.py
  libs/community/langchain_community/vectorstores/azuresearch.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/llms/azure.py
Due: community, openai

Core: Fix __add__ for concatting two BaseMessageChunk's (#29531)
  libs/core/langchain_core/messages/base.py
Due: core

core: Make abatch_as_completed respect max_concurrency (#29426)
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Due: core

x
  libs/langchain/uv.lock
Due: langchain

langchain: Use Blockbuster to detect blocking calls in asyncio during tests (#29616)
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/uv.lock
Due: langchain

community: Use Blockbuster to detect blocking calls in asyncio during tests (#29609)
  libs/community/langchain_community/utils/openai.py
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/conftest.py
  libs/community/tests/unit_tests/test_cache.py
  libs/community/tests/unit_tests/test_dependencies.py
  libs/community/tests/unit_tests/vectorstores/test_faiss.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
  libs/community/uv.lock
Due: community

community[minor]: 05 - Refactoring PyPDFium2 parser (#29625)
  docs/docs/integrations/document_loaders/pypdfium2.ipynb
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
Due: community, root

fix: support the situation when action_input is null
  libs/langchain/langchain/agents/output_parsers/json.py
Due: langchain

langchain: support the situation when action_input is null in json output_parser (#29680)
  libs/langchain/langchain/agents/output_parsers/json.py
Due: langchain

using getattr and default value to prevent 'OpenSearchVectorSearch' has no attribute 'bulk_size'
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Due: community

edit for lint too long checking
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Due: community

mark apify community as deprecated
  libs/community/langchain_community/document_loaders/apify_dataset.py
  libs/community/langchain_community/utilities/apify.py
Due: community

return k documents, add method for constructing query body
  libs/community/langchain_community/retrievers/elastic_search_bm25.py
Due: community

add documents method, include metadata and possibility to pass in elastic search parameters
  libs/community/langchain_community/retrievers/elastic_search_bm25.py
Due: community

add user preferred analyzer, helpful for multilingual search for example
  libs/community/langchain_community/retrievers/elastic_search_bm25.py
Due: community

update documentation
  docs/docs/integrations/retrievers/elastic_search_bm25.ipynb
Due: root

add optional metadata
  libs/community/langchain_community/retrievers/elastic_search_bm25.py
Due: community

delete index if it already exists, so that it can be recreated
  libs/community/langchain_community/retrievers/elastic_search_bm25.py
Due: community

Fix #29685: HuggingFaceEndpoint missing task argument in documentation
  docs/docs/integrations/document_loaders/docling.ipynb
Due: root

feat: add support for IBM WatsonX AI chat models
  libs/langchain/langchain/chat_models/base.py
Due: langchain

feat: reasoning model support
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
Due: ollama

using getattr and default value to prevent 'OpenSearchVectorSearch' has no attribute 'bulk_size' (#29682)
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Due: community

[DOC] Fix #29685: HuggingFaceEndpoint missing task argument in documentation (#29686)
  docs/docs/integrations/document_loaders/docling.ipynb
Due: root

feat(discord): add client wrapper, send & read message tools
  libs/community/langchain_community/tools/discord/base.py
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

fix(community): minor formatting fixes in Discord read/send message tools
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

fix(community): minor formatting fixes in Discord read/send message tools
  libs/community/langchain_community/tools/discord/base.py
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

refactor(discord): change client attribute to private and update method calls
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

feat(discord): refactor Discord tools to use a shared base class and update client usage
  libs/community/langchain_community/tools/discord/base.py
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

feat(discord): update args_schema to use BaseModel and add Discord tools module
  libs/community/langchain_community/tools/discord/__init__.py
  libs/community/langchain_community/tools/discord/read_messages.py
  libs/community/langchain_community/tools/discord/send_message.py
Due: community

feat(discord): integrate Discord tools for sending and reading messages, update configuration and dependencies
  libs/community/langchain_community/tools/discord/__init__.py
Due: community

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
