Repository langchain-ai/langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, community, langchain, standard-tests, text-splitters, airbyte, anthropic, azure-dynamic-sessions, box, chroma, couchbase, exa, fireworks, groq, huggingface, milvus, mistralai, mongodb, nomic, ollama, openai, pinecone, prompty, qdrant, unstructured, voyageai, root

core:
  name: format core
  language: system
  entry: make -C libs/core format
  pass_filenames: false

community:
  name: format community
  language: system
  entry: make -C libs/community format
  pass_filenames: false

langchain:
  name: format langchain
  language: system
  entry: make -C libs/langchain format
  pass_filenames: false

standard-tests:
  name: format standard-tests
  language: system
  entry: make -C libs/standard-tests format
  pass_filenames: false

text-splitters:
  name: format text-splitters
  language: system
  entry: make -C libs/text-splitters format
  pass_filenames: false

airbyte:
  name: format partners/airbyte
  language: system
  entry: make -C libs/partners/airbyte format
  pass_filenames: false

anthropic:
  name: format partners/anthropic
  language: system
  entry: make -C libs/partners/anthropic format
  pass_filenames: false

azure-dynamic-sessions:
  name: format partners/azure-dynamic-sessions
  language: system
  entry: make -C libs/partners/azure-dynamic-sessions format
  pass_filenames: false

box:
  name: format partners/box
  language: system
  entry: make -C libs/partners/box format
  pass_filenames: false

chroma:
  name: format partners/chroma
  language: system
  entry: make -C libs/partners/chroma format
  pass_filenames: false

couchbase:
  name: format partners/couchbase
  language: system
  entry: make -C libs/partners/couchbase format
  pass_filenames: false

exa:
  name: format partners/exa
  language: system
  entry: make -C libs/partners/exa format
  pass_filenames: false

fireworks:
  name: format partners/fireworks
  language: system
  entry: make -C libs/partners/fireworks format
  pass_filenames: false

groq:
  name: format partners/groq
  language: system
  entry: make -C libs/partners/groq format
  pass_filenames: false

huggingface:
  name: format partners/huggingface
  language: system
  entry: make -C libs/partners/huggingface format
  pass_filenames: false

milvus:
  name: format partners/milvus
  language: system
  entry: make -C libs/partners/milvus format
  pass_filenames: false

mistralai:
  name: format partners/mistralai
  language: system
  entry: make -C libs/partners/mistralai format
  pass_filenames: false

mongodb:
  name: format partners/mongodb
  language: system
  entry: make -C libs/partners/mongodb format
  pass_filenames: false

nomic:
  name: format partners/nomic
  language: system
  entry: make -C libs/partners/nomic format
  pass_filenames: false

ollama:
  name: format partners/ollama
  language: system
  entry: make -C libs/partners/ollama format
  pass_filenames: false

openai:
  name: format partners/openai
  language: system
  entry: make -C libs/partners/openai format
  pass_filenames: false

pinecone:
  name: format partners/pinecone
  language: system
  entry: make -C libs/partners/pinecone format
  pass_filenames: false

prompty:
  name: format partners/prompty
  language: system
  entry: make -C libs/partners/prompty format
  pass_filenames: false

add failing test
  libs/langchain/tests/integration_tests/chains/openai_functions/test_openapi.py
Due: langchain

use identified api key when creating OpenAI clients
  libs/langchain/langchain/chains/moderation.py
Due: langchain

docs: update the correct learning objective YAML instead of XML (#29131)
  docs/docs/how_to/output_parser_yaml.ipynb
Due: root

Add lindorm as new integration (#29123)
  docs/docs/integrations/providers/lindorm.ipynb
  docs/docs/integrations/text_embedding/lindorm.ipynb
  docs/docs/integrations/vectorstores/lindorm.ipynb
  libs/packages.yml
Due: root

increment version
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Due: standard-tests

anthropic: pdf integration test
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

tests[patch]: release 0.3.8 (#29141)
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Due: standard-tests

anthropic: pdf integration test (#29142)
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

[chore]: Reverted Tests
  libs/community/tests/unit_tests/document_loaders/test_lakefs.py
Due: community

[format]
  libs/community/tests/unit_tests/document_loaders/test_lakefs.py
Due: community

docs: add Hyperbrowser document loader
  docs/docs/integrations/document_loaders/hyperbrowser.ipynb
  docs/docs/integrations/providers/hyperbrowser.mdx
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Due: root

anthropic: pydantic mypy plugin
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Due: anthropic

Update openai README.md
  libs/partners/openai/README.md
Due: openai

revert
  docs/docs/integrations/retrievers/outline.ipynb
Due: root

docs: Update openai README.md (#29146)
  libs/partners/openai/README.md
Due: openai

openai: disable streaming for o1 by default
  libs/partners/openai/langchain_openai/chat_models/base.py
Due: openai

x
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

openai: disable streaming for o1 by default (#29147)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Due: openai

community: add init for `UnstructuredCHMLoader`
  libs/community/langchain_community/document_loaders/chm.py
Due: community

Bug fix: "IndexError: list index out of range" caused by base.py line 556
  libs/partners/openai/langchain_openai/embeddings/base.py
Due: openai

Fix typo in cookbook/mongodb-langchain-cache-memory.ipynb
  cookbook/mongodb-langchain-cache-memory.ipynb
Due: root

fix(langchain-pipeshift): add entry to docs featureTable
  docs/src/theme/FeatureTables.js
Due: root

community: Fix rank-llm import paths for new 0.20.3 version
  libs/community/langchain_community/document_compressors/rankllm_rerank.py
Due: community

Add FMP Data integration tutorial notebook
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

"Refactor FMP data tutorial notebook format"
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Simplify and restructure FMPData integration tutorial
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Simplify FMPData integration notebook content.
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Refactor FMPData notebook structure for improved readability
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Refactor FMPData notebook structure for clarity
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Convert FMP data documentation notebook to markdown format
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

our contribution
  docs/docs/integrations/retrievers/nimbleway.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/nimbleway.py
Due: community, root

Refactor FMPData integration documentation notebook
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Update FMPData integration notebook for consistency and clarity
  docs/docs/integrations/tools/fmp-data.ipynb
Due: root

Update FMPData integration notebook for consistency and clarity
  poetry.lock
Due: none

Path conditions:
  core: any of: ^libs/core/
  community: any of: ^libs/community/
  langchain: any of: ^libs/langchain/
  standard-tests: any of: ^libs/standard-tests/
  text-splitters: any of: ^libs/text-splitters/
  airbyte: any of: ^libs/partners/airbyte/
  anthropic: any of: ^libs/partners/anthropic/
  azure-dynamic-sessions: any of: ^libs/partners/azure-dynamic-sessions/
  box: any of: ^libs/partners/box/
  chroma: any of: ^libs/partners/chroma/
  couchbase: any of: ^libs/partners/couchbase/
  exa: any of: ^libs/partners/exa/
  fireworks: any of: ^libs/partners/fireworks/
  groq: any of: ^libs/partners/groq/
  huggingface: any of: ^libs/partners/huggingface/
  milvus: any of: ^libs/partners/milvus/
  mistralai: any of: ^libs/partners/mistralai/
  mongodb: any of: ^libs/partners/mongodb/
  nomic: any of: ^libs/partners/nomic/
  ollama: any of: ^libs/partners/ollama/
  openai: any of: ^libs/partners/openai/
  pinecone: any of: ^libs/partners/pinecone/
  prompty: any of: ^libs/partners/prompty/
  qdrant: any of: ^libs/partners/qdrant/
  unstructured: any of: ^libs/partners/unstructured/
  voyageai: any of: ^libs/partners/voyageai/
  root: any of: ^(docs|cookbook|templates)/
